---
# Only the main Sass file needs front matter (the dashes are enough)
---

$dark-blue: #213444;
$red: #f1615c;
$dark-red: #cd534e;
$gray: #d2d6d9;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
  position: relative;

  &::before,
  &::after {
    box-sizing: inherit;
    position: inherit;
  }
}

html {
  font-size: 24px;
  height: 100%;

  @media only screen and (min-width: 700px) {
    font-size: 27px;
  }
}

body {
  color: $dark-blue;
  display: grid;
  font: 400 .6666666667rem/1.5 Roboto, "Helvetica Neue", Helvetica, sans-serif;
  grid-template-columns: minmax(0, 1fr) minmax(0, 40rem) minmax(0, 1fr);
  grid-template-rows: auto auto 1fr auto;
  min-height: 100%;
}

.site-main,
.site-nav,
.site-header,
.site-footer {
  padding-left: 1rem;
  padding-right: 1rem;

  @media only screen and (min-width: 700px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.site-nav,
.site-main {
  grid-column: 2;
}

.site-header-container {
  background: $dark-blue;
  grid-column: 1 / 4;
}

.site-footer-container {
  border-top: 1px solid $gray;
  grid-column: 1 / 4;
}

.site-header,
.site-footer,
.site-main,
.site-main .pagination {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.site-header {
  color: $red;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
}

ol,
ul {
  list-style: none;
}

h1,
.h1 {
  font-size: 2.8333333333rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.0833333333rem;
}

p,
td {
  font-weight: 300;
}

h1 + p,
.h1 + p,
h2 + p,
.h2 + p,
h3 + p,
.h3 + p,
p + ul,
p + p {
  margin-top: 1rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: 'Roboto Slab', serif;
}

section + section {
  margin-top: 2rem;
}

.masthead-title {
  flex-grow: 1;
  max-width: 34rem;
}

@media only screen and (min-width: 700px) {
  .masthead-title {
    grid-column: 1 / 3;
  }
}

.home .masthead-title {
  grid-column: 1 / 4;
}

a {
  color: $red;
  text-decoration: none;
  transition: all .15s linear;

  &:hover,
  &:focus {
    color: $dark-red;
    outline: 0;
  }
}

svg {
  fill: $dark-blue;
}

.site-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  a {
    padding: .125rem 0 .5rem;

    &[href="/about-me/"] {
      margin: 0 1rem;
    }

    &:first-child {
      padding: .5rem 0 .125rem;
      width: 100%;
    }

    &:not(:first-child) {
      font-size: .5185185185rem;
    }
  }
}

@media only screen and (min-width: 700px) {
  .site-nav a,
  .site-nav a:first-child {
    padding: .5rem 0;
  }
}

@media only screen and (min-width: 700px) {
  .site-nav a:first-child {
    flex-grow: 1;
    width: auto;
  }
}

.about-me .site-main.page,
.get-in-touch .site-main.page {
  grid-row-gap: 0;

  @media only screen and (min-width: 700px) {
    grid-template-columns: 2fr 1fr;
  }
}

.about-me .site-main.page p {
  grid-column-start: 1;
}

.site-footer {
  font-size: .5185185185rem;
  grid-row-end: 5;
  grid-row-start: 4;
  padding: 1rem 0;

  p {
    font-weight: 400;
    text-align: center;
  }
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: .5rem;

  li:not(:last-child)::after {
    content: '•';
    padding: 0 .25rem;
  }
}

.title-tag {
  background: $red;
  border-radius: .25rem;
  color: $dark-blue;
  display: inline-block;
  font-size: .6666666667rem;
  padding: 0 .25rem;
  vertical-align: middle;
}

.site-main section,
.site-main.page {
  display: grid;
  grid-gap: 2rem;
  align-content: start;
}

@media only screen and (min-width: 700px) {
  .site-main section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 700px) {
  .site-main section:first-child {
    grid-template-columns: 2fr 1fr;
  }
}

@media only screen and (min-width: 700px) {
  .home .site-main.page {
    grid-template-columns: 1fr 1fr;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding-right: .5rem;
  text-align: right;
}

img {
  display: block;
  max-width: 100%;

  + img {
    margin-top: 2rem;
  }
}

.pagination {
  align-items: center;
  display: flex;
}

.pagination-item {
  color: $red;

  &.is-disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  svg {
    fill: $red;
    height: 1.5rem;
    transition: background .15s linear;
    vertical-align: middle;
  }
}

.site-main .pagination {
  align-items: center;
  display: flex;
  padding-bottom: 0;
}

.site-main .pagination-next {
  margin-left: auto;
}

.site-main .pagination-prev::after {
  content: attr(title);
}

.site-main .pagination-next::before {
  content: attr(title);
}

@media only screen and (min-width: 700px) {
  .span-2 {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 700px) {
  .post:not(.case-study) section:not(:first-child) {
    grid-template-columns: 1fr 1fr;
  }
}

.button {
  -webkit-backface-visibility: hidden;
  background: transparent;
  border: 1px solid $red;
  border-radius: 5px;
  color: $red;
  display: inline-block;
  font: inherit;
  font-weight: 500;
  margin: 0;
  padding: .25rem .75rem;
  position: relative;
  text-align: center;
  text-shadow: none;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  vertical-align: middle;
  white-space: nowrap;

  &:focus,
  &:hover {
    border-color: $dark-red;
    color: $dark-red;
    outline: none;
  }
}

td .button {
  margin-top: 1rem;
}

.post {

  img {
    border: 1px solid $gray;
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .025);
    vertical-align: top;
  }

  section:first-child {
    grid-row-gap: 1rem;
  }
}

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
