<footer>
    <div class="grid-frame text-center soft-sides soft-triple-ends soft-triple-sides@md">
        <div class="footer-content small">
            <p class="flush-top push-bottom">&copy; Copyright Jesse Trippe <script type="text/javascript">document.write(new Date().getFullYear());</script>. Made in Seattle, WA.</p>
            <ul class="footer-links flush hard">
                <li><a href="mailto:jesse@jessetrippe.com">jesse@jessetrippe.com</a></li>
                <li><a href="tel:7346496602">(734) 649-6602</a></li>
                <li><a href="https://twitter.com/jessetrippe">Twitter</a></li>
                <li><a href="https://linkedin.com/in/jessetrippe">LinkedIn</a></li>
                <li><a href="https://instagram.com/jesse_trippe">Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>
<script>!function(e,t,a,n,c,o){e.GoogleAnalyticsObject=n,e[n]||(e[n]=function(){(e[n].q=e[n].q||[]).push(arguments)}),e[n].l=+new Date,c=t.createElement(a),o=t.getElementsByTagName(a)[0],c.src="https://www.google-analytics.com/analytics.js",o.parentNode.insertBefore(c,o)}(window,document,"script","ga"),ga("create","UA-54788171-1","auto"),ga("send","pageview");</script>
