<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<!-- Test for JavaScript -->
	<script>
	    document.documentElement.classList.remove('no-js');
	</script>

	<!-- Font-->
	<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
	<script>
	  WebFont.load({
	    google: {
	      families: ['Source Sans Pro:400']
	    }
	  });
	</script>

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

</head>
