<nav class="pagination">
    {% if page.previous.url %}
        <a href="{{page.previous.url}}" class="pagination-item pagination-prev soft-half" title="Previous">{% include svg/prev.svg %}</a>
    {% else %}
    	<span aria-hidden="true" class="pagination-item pagination-prev soft-half is-disabled">{% include svg/prev.svg %}</span>
    {% endif %}
    {% if page.next.url %}
        <a href="{{page.next.url}}" class="pagination-item pagination-next soft-half" title="Next">{% include svg/next.svg %}</a>
    {% else %}
    	<span aria-hidden="true" class="pagination-item pagination-next soft-half is-disabled">{% include svg/next.svg %}</span>
    {% endif %}
</nav>
