{% assign pages = site.html_pages | sort:"weight"  %}
{% for page in pages %}
    {% if page.title == "Home" %}
        <h1 class="site-title h5"><a href="{{ page.url }}" class="{{ page.title | slugify }}">Jesse Trippe</a></h1>
    {% elsif page.title == "Selected Work" %}
        {% assign work_items = site.work_items %}
        {% for work_item in work_items limit:1 %}
            <a href="{{ work_item.permalink }}" class="{{ page.title | slugify }}">{{ page.title }}</a>
        {% endfor %}
    {% else %}
        <a href="{{ page.url }}" class="{{ page.title | slugify }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
