.u-soft { padding: 1rem !important; }
.u-softTop { padding-top: 1rem !important; }
.u-softRight { padding-right: 1rem !important; }
.u-softBottom { padding-bottom: 1rem !important; }
.u-softLeft { padding-left: 1rem !important; }
.u-softEnds { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.u-softSides { padding-right: 1rem !important; padding-left: 1rem !important; }

.u-softHalf { padding: .5rem !important; }
.u-softHalfTop { padding-top: .5rem !important; }
.u-softHalfRight { padding-right: .5rem !important; }
.u-softHalfBottom { padding-bottom: .5rem !important; }
.u-softHalfLeft { padding-left: .5rem !important; }
.u-softHalfEnds { padding-top: .5rem !important; padding-bottom: .5rem !important; }
.u-softHalfSides { padding-right: .5rem !important; padding-left: .5rem !important; }

.u-softQuarter { padding: .25rem !important; }
.u-softQuarterTop { padding-top: .25rem !important; }
.u-softQuarterRight { padding-right: .25rem !important; }
.u-softQuarterBottom { padding-bottom: .25rem !important; }
.u-softQuarterLeft { padding-left: .25rem !important; }
.u-softQuarterEnds { padding-top: .25rem !important; padding-bottom: .25rem !important; }
.u-softQuarterSides { padding-right: .25rem !important; padding-left: .25rem !important; }

.u-softDouble { padding: 2rem !important; }
.u-softDoubleTop { padding-top: 2rem !important; }
.u-softDoubleRight { padding-right: 2rem !important; }
.u-softDoubleBottom { padding-bottom: 2rem !important; }
.u-softDoubleLeft { padding-left: 2rem !important; }
.u-softDoubleEnds { padding-top: 2rem !important; padding-bottom: 2rem !important; }
.u-softDoubleSides { padding-right: 2rem !important; padding-left: 2rem !important; }

.u-softTriple { padding: 3rem !important; }
.u-softTripleTop { padding-top: 3rem !important; }
.u-softTripleRight { padding-right: 3rem !important; }
.u-softTripleBottom { padding-bottom: 3rem !important; }
.u-softTripleLeft { padding-left: 3rem !important; }
.u-softTripleEnds { padding-top: 3rem !important; padding-bottom: 3rem !important; }
.u-softTripleSides { padding-right: 3rem !important; padding-left: 3rem !important; }

.u-hard { padding: 0 !important; }
.u-hardTop { padding-top: 0 !important; }
.u-hardRight { padding-right: 0 !important; }
.u-hardBottom { padding-bottom: 0 !important; }
.u-hardLeft { padding-left: 0 !important; }
.u-hardEnds { padding-top: 0 !important; padding-bottom: 0 !important; }
.u-hardSides { padding-right: 0 !important; padding-left: 0 !important; }

.u-push { margin: 1rem !important; }
.u-pushTop { margin-top: 1rem !important; }
.u-pushRight { margin-right: 1rem !important; }
.u-pushBottom { margin-bottom: 1rem !important; }
.u-pushLeft { margin-left: 1rem !important; }
.u-pushEnds { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.u-pushSides { margin-right: 1rem !important; margin-left: 1rem !important; }

.u-pushHalf { margin: .5rem !important; }
.u-pushHalfTop { margin-top: .5rem !important; }
.u-pushHalfRight { margin-right: .5rem !important; }
.u-pushHalfBottom { margin-bottom: .5rem !important; }
.u-pushHalfLeft { margin-left: .5rem !important; }
.u-pushHalfEnds { margin-top: .5rem !important; margin-bottom: .5rem !important; }
.u-pushHalfSides { margin-right: .5rem !important; margin-left: .5rem !important; }

.u-pushDouble { margin: 2rem !important; }
.u-pushDoubleTop { margin-top: 2rem !important; }
.u-pushDoubleRight { margin-right: 2rem !important; }
.u-pushDoubleBottom { margin-bottom: 2rem !important; }
.u-pushDoubleLeft { margin-left: 2rem !important; }
.u-pushDoubleEnds { margin-top: 2rem !important; margin-bottom: 2rem !important; }
.u-pushDoubleSides { margin-right: 2rem !important; margin-left: 2rem !important; }

.u-pushTriple { margin: 3rem !important; }
.u-pushTripleTop { margin-top: 3rem !important; }
.u-pushTripleRight { margin-right: 3rem !important; }
.u-pushTripleBottom { margin-bottom: 3rem !important; }
.u-pushTripleLeft { margin-left: 3rem !important; }
.u-pushTripleEnds { margin-top: 3rem !important; margin-bottom: 3rem !important; }
.u-pushTripleSides { margin-right: 3rem !important; margin-left: 3rem !important; }

.u-flush { margin: 0 !important; }
.u-flushTop { margin-top: 0 !important; }
.u-flushRight { margin-right: 0 !important; }
.u-flushBottom { margin-bottom: 0 !important; }
.u-flushLeft { margin-left: 0 !important; }
.u-flushEnds { margin-top: 0 !important; margin-bottom: 0 !important; }
.u-flushSides { margin-right: 0 !important; margin-left: 0 !important; }
