// Base Styles
// ––––––––––––––––––––––––––––––––––––––––––––––––––

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    position: relative;
}

body {
    background: $material-blue url('../img/0-bg.svg') fixed;
    color: $base-text-color;
    font: 400 #{1rem}/#{$base-spacing-unit} 'Source Sans Pro', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
