// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––
.fr {
    float: right;
}

.fl {
    float: left;
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––
hr {
    border: 0;
    border-top: 1px solid $base-ui-color;
    margin: 0;
}

// Clearing
//––––––––––––––––––––––––––––––––––––––––––––––––––
.cf:after {
    clear: both;
    content: "";
    display: table;
}

// Display
//––––––––––––––––––––––––––––––––––––––––––––––––––
.block {
    display: block;
}

// Responsive helpers
//––––––––––––––––––––––––––––––––––––––––––––––––––
.hidden {
    display: none !important;
    visibility: hidden !important;
}

.show {
    display: initial !important;
    visibility: visible !important;
}

@include xsmall {
    .hidden\@xs {
        display: none !important;
        visibility: hidden !important;
    }

    .show\@xs {
        display: initial !important;
        visibility: visible !important;
    }
}

@include small {
    .hidden\@sm {
        display: none !important;
        visibility: hidden !important;
    }

    .show\@sm {
        display: initial !important;
        visibility: visible !important;
    }
}

@include medium {
    .hidden\@md {
        display: none !important;
        visibility: hidden !important;
    }

    .show\@md {
        display: initial !important;
        visibility: visible !important;
    }
}

@include large {
    .hidden\@lg {
        display: none !important;
        visibility: hidden !important;
    }

    .show\@lg {
        display: initial !important;
        visibility: visible !important;
    }
}

// Text alignment
//––––––––––––––––––––––––––––––––––––––––––––––––––
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

// Border helpers
//––––––––––––––––––––––––––––––––––––––––––––––––––
.border-dotted { border-style: dotted; }

.border-bottom { border-bottom-width: 1px; }
.border-left { border-left-width: 1px; }
.border-right { border-right-width: 1px; }
.border-top { border-top-width: 1px; }
.border-ends { border-top-width: 1px; border-bottom-width: 1px; }
.border-sides { border-left-width: 1px; border-right-width: 1px; }
.border-none { border: 0; }
