// Layout
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.header {
    background: $material-blue url("../img/0-bg.svg") fixed;
    border-bottom: 1px solid rgba(#000, .15);
    left: 0;
    overflow: auto;
    padding: 0 ($base-spacing-unit * 1.5);
    position: fixed;
    right: 0;
    top: 0;
    transition: all .15s linear;
    width: 100%;
    z-index: 20;

    @include small {
        padding: 0 ($base-spacing-unit * 2.5);
    }

    @include medium {
        border: 0;
        height: 100%;
        padding: $base-spacing-unit * 4 $base-spacing-unit * 1.5 $base-spacing-unit * 1.5;
        width: 350px;
    }

    @include large {
        padding-top: $base-spacing-unit * 6;
    }
}

.no-js .header {
    border: 0;
    position: static;

    @include medium {
        position: fixed;
    }
}

.main {
    background: $white;
    border-top: 1px solid $base-ui-color;
    margin-top: 50px;
    min-height: 100%;
    transform: translateY(0);
    transition: all .15s linear;
    
    @include medium {
        border-left: 1px solid rgb(3, 144, 208);
        border-top: 0;
        margin: 0 0 0 350px;
        transform: translateX(0);
    }

    &.off-page {
        opacity: 0;
        transform: translateY(100px);
    
        @include medium {
            transform: translateX(100px);
        }
    }
}

.no-js .main.off-page {
    margin-top: 0;
    opacity: 1;
    transform: none;
}
