// Nav Menu
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.menu-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height .15s linear;

    @include medium {
        max-height: none !important;
    }

    .menu-list li {
        border-top: 1px solid #e6e6e6;

        &:last-child {
            border-bottom: 1px solid #e6e6e6;
        }
    }
}

.no-js {
    .menu-container {
        max-height: initial;
    }

    #menu-toggle {
        display: none;
    }
}

.nav-icon {
    background: $white;
    height: 2px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: $base-spacing-unit * .66666;

    &:before,
    &:after {
        background-color: inherit;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .25s ease;
        visibility: visible;
        width: 100%;
    }

    &:before {
        transform: translateY(-5px);
    }

    &:after {
        transform: translateY(5px);
    }
}

button:hover .nav-icon {
    &:before {
        transform: translateY(-7px);
    }

    &:after {
        transform: translateY(7px);
    } 
}

.is-open {

    .menu-container {
        max-height: 700px;
    }

    .nav-icon,
    button:hover .nav-icon {
        visibility: hidden;

        &:before {
            transform: rotate(45deg);
            visibility: visible;
        }

        &:after {
            transform: rotate(-45deg);
            visibility: visible;
        }
    }
}
