// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.push					{ margin: $base-spacing-unit; }
.push-bottom			{ margin-bottom: $base-spacing-unit; }
.push-left				{ margin-left: $base-spacing-unit; }
.push-right				{ margin-right: $base-spacing-unit; }
.push-top				{ margin-top: $base-spacing-unit; }
.push-ends				{ margin-top: $base-spacing-unit; margin-bottom: $base-spacing-unit; }
.push-sides				{ margin-left: $base-spacing-unit; margin-right: $base-spacing-unit; }

.push-half				{ margin: $half-spacing-unit; }
.push-half-bottom		{ margin-bottom: $half-spacing-unit; }
.push-half-left			{ margin-left: $half-spacing-unit; }
.push-half-right		{ margin-right: $half-spacing-unit; }
.push-half-top			{ margin-top: $half-spacing-unit; }
.push-half-ends			{ margin-top: $half-spacing-unit; margin-bottom: $half-spacing-unit; }
.push-half-sides		{ margin-left: $half-spacing-unit; margin-right: $half-spacing-unit; }

.push-double			{ margin: $base-spacing-unit * 2; }
.push-double-bottom		{ margin-bottom: $base-spacing-unit * 2; }
.push-double-left		{ margin-left: $base-spacing-unit * 2; }
.push-double-right		{ margin-right: $base-spacing-unit * 2; }
.push-double-top		{ margin-top: $base-spacing-unit * 2; }
.push-double-ends		{ margin-top: $base-spacing-unit * 2; margin-bottom: $base-spacing-unit * 2; }
.push-double-sides		{ margin-left: $base-spacing-unit * 2; margin-right: $base-spacing-unit * 2; }

.push-triple			{ margin: $base-spacing-unit * 3; }
.push-triple-bottom		{ margin-bottom: $base-spacing-unit * 3; }
.push-triple-left		{ margin-left: $base-spacing-unit * 3; }
.push-triple-right		{ margin-right: $base-spacing-unit * 3; }
.push-triple-top		{ margin-top: $base-spacing-unit * 3; }
.push-triple-ends		{ margin-top: $base-spacing-unit * 3; margin-bottom: $base-spacing-unit * 3; }
.push-triple-sides		{ margin-left: $base-spacing-unit * 3; margin-right: $base-spacing-unit * 3; }

.push-quad				{ margin: $base-spacing-unit * 4; }
.push-quad-bottom		{ margin-bottom: $base-spacing-unit * 4; }
.push-quad-left			{ margin-left: $base-spacing-unit * 4; }
.push-quad-right		{ margin-right: $base-spacing-unit * 4; }
.push-quad-top			{ margin-top: $base-spacing-unit * 4; }
.push-quad-ends			{ margin-top: $base-spacing-unit * 4; margin-bottom: $base-spacing-unit * 4; }
.push-quad-sides		{ margin-left: $base-spacing-unit * 4; margin-right: $base-spacing-unit * 4; }

.flush					{ margin: 0; }
.flush-bottom			{ margin-bottom: 0; }
.flush-left				{ margin-left: 0; }
.flush-right			{ margin-right: 0; }
.flush-top				{ margin-top: 0; }
.flush-ends				{ margin-top: 0; margin-bottom: 0; }
.flush-sides			{ margin-left: 0; margin-right: 0; }

.soft					{ padding: $base-spacing-unit; }
.soft-bottom			{ padding-bottom: $base-spacing-unit; }
.soft-left				{ padding-left: $base-spacing-unit; }
.soft-right				{ padding-right: $base-spacing-unit; }
.soft-top				{ padding-top: $base-spacing-unit; }
.soft-ends				{ padding-top: $base-spacing-unit; padding-bottom: $base-spacing-unit; }
.soft-sides				{ padding-left: $base-spacing-unit; padding-right: $base-spacing-unit; }

.soft-half				{ padding: $half-spacing-unit; }
.soft-half-bottom		{ padding-bottom: $half-spacing-unit; }
.soft-half-left			{ padding-left: $half-spacing-unit; }
.soft-half-right		{ padding-right: $half-spacing-unit; }
.soft-half-top			{ padding-top: $half-spacing-unit; }
.soft-half-ends			{ padding-top: $half-spacing-unit; padding-bottom: $half-spacing-unit; }
.soft-half-sides		{ padding-left: $half-spacing-unit; padding-right: $half-spacing-unit; }

.soft-double			{ padding: $base-spacing-unit * 2; }
.soft-double-bottom		{ padding-bottom: $base-spacing-unit * 2; }
.soft-double-left		{ padding-left: $base-spacing-unit * 2; }
.soft-double-right		{ padding-right: $base-spacing-unit * 2; }
.soft-double-top		{ padding-top: $base-spacing-unit * 2; }
.soft-double-ends		{ padding-top: $base-spacing-unit * 2; padding-bottom: $base-spacing-unit * 2; }
.soft-double-sides		{ padding-left: $base-spacing-unit * 2; padding-right: $base-spacing-unit * 2; }

.soft-triple			{ padding: $base-spacing-unit * 3; }
.soft-triple-bottom		{ padding-bottom: $base-spacing-unit * 3; }
.soft-triple-left		{ padding-left: $base-spacing-unit * 3; }
.soft-triple-right		{ padding-right: $base-spacing-unit * 3; }
.soft-triple-top		{ padding-top: $base-spacing-unit * 3; }
.soft-triple-ends		{ padding-top: $base-spacing-unit * 3; padding-bottom: $base-spacing-unit * 3; }
.soft-triple-sides		{ padding-left: $base-spacing-unit * 3; padding-right: $base-spacing-unit * 3; }

.soft-quad				{ padding: $base-spacing-unit * 4; }
.soft-quad-bottom		{ padding-bottom: $base-spacing-unit * 4; }
.soft-quad-left			{ padding-left: $base-spacing-unit * 4; }
.soft-quad-right		{ padding-right: $base-spacing-unit * 4; }
.soft-quad-top			{ padding-top: $base-spacing-unit * 4; }
.soft-quad-ends			{ padding-top: $base-spacing-unit * 4; padding-bottom: $base-spacing-unit * 4; }
.soft-quad-sides		{ padding-left: $base-spacing-unit * 4; padding-right: $base-spacing-unit * 4; }

.hard					{ padding: 0; }
.hard-bottom			{ padding-bottom: 0; }
.hard-left				{ padding-left: 0; }
.hard-right				{ padding-right: 0; }
.hard-top				{ padding-top: 0; }
.hard-ends				{ padding-top: 0; padding-bottom: 0; }
.hard-sides				{ padding-left: 0; padding-right: 0; }

@include small {

    .push\@sm					{ margin: $base-spacing-unit; }
    .push-bottom\@sm			{ margin-bottom: $base-spacing-unit; }
    .push-left\@sm				{ margin-left: $base-spacing-unit; }
    .push-right\@sm				{ margin-right: $base-spacing-unit; }
    .push-top\@sm				{ margin-top: $base-spacing-unit; }
    .push-ends\@sm				{ margin-top: $base-spacing-unit; margin-bottom: $base-spacing-unit; }
    .push-sides\@sm				{ margin-left: $base-spacing-unit; margin-right: $base-spacing-unit; }

    .push-half\@sm				{ margin: $half-spacing-unit; }
    .push-half-bottom\@sm		{ margin-bottom: $half-spacing-unit; }
    .push-half-left\@sm			{ margin-left: $half-spacing-unit; }
    .push-half-right\@sm		{ margin-right: $half-spacing-unit; }
    .push-half-top\@sm			{ margin-top: $half-spacing-unit; }
    .push-half-ends\@sm			{ margin-top: $half-spacing-unit; margin-bottom: $half-spacing-unit; }
    .push-half-sides\@sm		{ margin-left: $half-spacing-unit; margin-right: $half-spacing-unit; }

    .push-double\@sm			{ margin: $base-spacing-unit * 2; }
    .push-double-bottom\@sm		{ margin-bottom: $base-spacing-unit * 2; }
    .push-double-left\@sm		{ margin-left: $base-spacing-unit * 2; }
    .push-double-right\@sm		{ margin-right: $base-spacing-unit * 2; }
    .push-double-top\@sm		{ margin-top: $base-spacing-unit * 2; }
    .push-double-ends\@sm		{ margin-top: $base-spacing-unit * 2; margin-bottom: $base-spacing-unit * 2; }
    .push-double-sides\@sm		{ margin-left: $base-spacing-unit * 2; margin-right: $base-spacing-unit * 2; }

    .push-triple\@sm			{ margin: $base-spacing-unit * 3; }
    .push-triple-bottom\@sm		{ margin-bottom: $base-spacing-unit * 3; }
    .push-triple-left\@sm		{ margin-left: $base-spacing-unit * 3; }
    .push-triple-right\@sm		{ margin-right: $base-spacing-unit * 3; }
    .push-triple-top\@sm		{ margin-top: $base-spacing-unit * 3; }
    .push-triple-ends\@sm		{ margin-top: $base-spacing-unit * 3; margin-bottom: $base-spacing-unit * 3; }
    .push-triple-sides\@sm		{ margin-left: $base-spacing-unit * 3; margin-right: $base-spacing-unit * 3; }

    .push-quad\@sm				{ margin: $base-spacing-unit * 4; }
    .push-quad-bottom\@sm		{ margin-bottom: $base-spacing-unit * 4; }
    .push-quad-left\@sm			{ margin-left: $base-spacing-unit * 4; }
    .push-quad-right\@sm		{ margin-right: $base-spacing-unit * 4; }
    .push-quad-top\@sm			{ margin-top: $base-spacing-unit * 4; }
    .push-quad-ends\@sm			{ margin-top: $base-spacing-unit * 4; margin-bottom: $base-spacing-unit * 4; }
    .push-quad-sides\@sm		{ margin-left: $base-spacing-unit * 4; margin-right: $base-spacing-unit * 4; }

    .flush\@sm					{ margin: 0; }
    .flush-bottom\@sm			{ margin-bottom: 0; }
    .flush-left\@sm				{ margin-left: 0; }
    .flush-right\@sm			{ margin-right: 0; }
    .flush-top\@sm				{ margin-top: 0; }
    .flush-ends\@sm				{ margin-top: 0; margin-bottom: 0; }
    .flush-sides\@sm			{ margin-left: 0; margin-right: 0; }

    .soft\@sm					{ padding: $base-spacing-unit; }
    .soft-bottom\@sm			{ padding-bottom: $base-spacing-unit; }
    .soft-left\@sm				{ padding-left: $base-spacing-unit; }
    .soft-right\@sm				{ padding-right: $base-spacing-unit; }
    .soft-top\@sm				{ padding-top: $base-spacing-unit; }
    .soft-ends\@sm				{ padding-top: $base-spacing-unit; padding-bottom: $base-spacing-unit; }
    .soft-sides\@sm				{ padding-left: $base-spacing-unit; padding-right: $base-spacing-unit; }

    .soft-half\@sm				{ padding: $half-spacing-unit; }
    .soft-half-bottom\@sm		{ padding-bottom: $half-spacing-unit; }
    .soft-half-left\@sm			{ padding-left: $half-spacing-unit; }
    .soft-half-right\@sm		{ padding-right: $half-spacing-unit; }
    .soft-half-top\@sm			{ padding-top: $half-spacing-unit; }
    .soft-half-ends\@sm			{ padding-top: $half-spacing-unit; padding-bottom: $half-spacing-unit; }
    .soft-half-sides\@sm		{ padding-left: $half-spacing-unit; padding-right: $half-spacing-unit; }

    .soft-double\@sm			{ padding: $base-spacing-unit * 2; }
    .soft-double-bottom\@sm		{ padding-bottom: $base-spacing-unit * 2; }
    .soft-double-left\@sm		{ padding-left: $base-spacing-unit * 2; }
    .soft-double-right\@sm		{ padding-right: $base-spacing-unit * 2; }
    .soft-double-top\@sm		{ padding-top: $base-spacing-unit * 2; }
    .soft-double-ends\@sm		{ padding-top: $base-spacing-unit * 2; padding-bottom: $base-spacing-unit * 2; }
    .soft-double-sides\@sm		{ padding-left: $base-spacing-unit * 2; padding-right: $base-spacing-unit * 2; }

    .soft-triple\@sm			{ padding: $base-spacing-unit * 3; }
    .soft-triple-bottom\@sm		{ padding-bottom: $base-spacing-unit * 3; }
    .soft-triple-left\@sm		{ padding-left: $base-spacing-unit * 3; }
    .soft-triple-right\@sm		{ padding-right: $base-spacing-unit * 3; }
    .soft-triple-top\@sm		{ padding-top: $base-spacing-unit * 3; }
    .soft-triple-ends\@sm		{ padding-top: $base-spacing-unit * 3; padding-bottom: $base-spacing-unit * 3; }
    .soft-triple-sides\@sm		{ padding-left: $base-spacing-unit * 3; padding-right: $base-spacing-unit * 3; }

    .soft-quad\@sm				{ padding: $base-spacing-unit * 4; }
    .soft-quad-bottom\@sm		{ padding-bottom: $base-spacing-unit * 4; }
    .soft-quad-left\@sm			{ padding-left: $base-spacing-unit * 4; }
    .soft-quad-right\@sm		{ padding-right: $base-spacing-unit * 4; }
    .soft-quad-top\@sm			{ padding-top: $base-spacing-unit * 4; }
    .soft-quad-ends\@sm			{ padding-top: $base-spacing-unit * 4; padding-bottom: $base-spacing-unit * 4; }
    .soft-quad-sides\@sm		{ padding-left: $base-spacing-unit * 4; padding-right: $base-spacing-unit * 4; }

    .hard\@sm					{ padding: 0; }
    .hard-bottom\@sm			{ padding-bottom: 0; }
    .hard-left\@sm				{ padding-left: 0; }
    .hard-right\@sm				{ padding-right: 0; }
    .hard-top\@sm				{ padding-top: 0; }
    .hard-ends\@sm				{ padding-top: 0; padding-bottom: 0; }
    .hard-sides\@sm				{ padding-left: 0; padding-right: 0; }
}

@include medium {

    .push\@md					{ margin: $base-spacing-unit; }
    .push-bottom\@md			{ margin-bottom: $base-spacing-unit; }
    .push-left\@md				{ margin-left: $base-spacing-unit; }
    .push-right\@md				{ margin-right: $base-spacing-unit; }
    .push-top\@md				{ margin-top: $base-spacing-unit; }
    .push-ends\@md				{ margin-top: $base-spacing-unit; margin-bottom: $base-spacing-unit; }
    .push-sides\@md				{ margin-left: $base-spacing-unit; margin-right: $base-spacing-unit; }

    .push-half\@md				{ margin: $half-spacing-unit; }
    .push-half-bottom\@md		{ margin-bottom: $half-spacing-unit; }
    .push-half-left\@md			{ margin-left: $half-spacing-unit; }
    .push-half-right\@md		{ margin-right: $half-spacing-unit; }
    .push-half-top\@md			{ margin-top: $half-spacing-unit; }
    .push-half-ends\@md			{ margin-top: $half-spacing-unit; margin-bottom: $half-spacing-unit; }
    .push-half-sides\@md		{ margin-left: $half-spacing-unit; margin-right: $half-spacing-unit; }

    .push-double\@md			{ margin: $base-spacing-unit * 2; }
    .push-double-bottom\@md		{ margin-bottom: $base-spacing-unit * 2; }
    .push-double-left\@md		{ margin-left: $base-spacing-unit * 2; }
    .push-double-right\@md		{ margin-right: $base-spacing-unit * 2; }
    .push-double-top\@md		{ margin-top: $base-spacing-unit * 2; }
    .push-double-ends\@md		{ margin-top: $base-spacing-unit * 2; margin-bottom: $base-spacing-unit * 2; }
    .push-double-sides\@md		{ margin-left: $base-spacing-unit * 2; margin-right: $base-spacing-unit * 2; }

    .push-triple\@md			{ margin: $base-spacing-unit * 3; }
    .push-triple-bottom\@md		{ margin-bottom: $base-spacing-unit * 3; }
    .push-triple-left\@md		{ margin-left: $base-spacing-unit * 3; }
    .push-triple-right\@md		{ margin-right: $base-spacing-unit * 3; }
    .push-triple-top\@md		{ margin-top: $base-spacing-unit * 3; }
    .push-triple-ends\@md		{ margin-top: $base-spacing-unit * 3; margin-bottom: $base-spacing-unit * 3; }
    .push-triple-sides\@md		{ margin-left: $base-spacing-unit * 3; margin-right: $base-spacing-unit * 3; }

    .push-quad\@md				{ margin: $base-spacing-unit * 4; }
    .push-quad-bottom\@md		{ margin-bottom: $base-spacing-unit * 4; }
    .push-quad-left\@md			{ margin-left: $base-spacing-unit * 4; }
    .push-quad-right\@md		{ margin-right: $base-spacing-unit * 4; }
    .push-quad-top\@md			{ margin-top: $base-spacing-unit * 4; }
    .push-quad-ends\@md			{ margin-top: $base-spacing-unit * 4; margin-bottom: $base-spacing-unit * 4; }
    .push-quad-sides\@md		{ margin-left: $base-spacing-unit * 4; margin-right: $base-spacing-unit * 4; }

    .flush\@md					{ margin: 0; }
    .flush-bottom\@md			{ margin-bottom: 0; }
    .flush-left\@md				{ margin-left: 0; }
    .flush-right\@md			{ margin-right: 0; }
    .flush-top\@md				{ margin-top: 0; }
    .flush-ends\@md				{ margin-top: 0; margin-bottom: 0; }
    .flush-sides\@md			{ margin-left: 0; margin-right: 0; }

    .soft\@md					{ padding: $base-spacing-unit; }
    .soft-bottom\@md			{ padding-bottom: $base-spacing-unit; }
    .soft-left\@md				{ padding-left: $base-spacing-unit; }
    .soft-right\@md				{ padding-right: $base-spacing-unit; }
    .soft-top\@md				{ padding-top: $base-spacing-unit; }
    .soft-ends\@md				{ padding-top: $base-spacing-unit; padding-bottom: $base-spacing-unit; }
    .soft-sides\@md				{ padding-left: $base-spacing-unit; padding-right: $base-spacing-unit; }

    .soft-half\@md				{ padding: $half-spacing-unit; }
    .soft-half-bottom\@md		{ padding-bottom: $half-spacing-unit; }
    .soft-half-left\@md			{ padding-left: $half-spacing-unit; }
    .soft-half-right\@md		{ padding-right: $half-spacing-unit; }
    .soft-half-top\@md			{ padding-top: $half-spacing-unit; }
    .soft-half-ends\@md			{ padding-top: $half-spacing-unit; padding-bottom: $half-spacing-unit; }
    .soft-half-sides\@md		{ padding-left: $half-spacing-unit; padding-right: $half-spacing-unit; }

    .soft-double\@md			{ padding: $base-spacing-unit * 2; }
    .soft-double-bottom\@md		{ padding-bottom: $base-spacing-unit * 2; }
    .soft-double-left\@md		{ padding-left: $base-spacing-unit * 2; }
    .soft-double-right\@md		{ padding-right: $base-spacing-unit * 2; }
    .soft-double-top\@md		{ padding-top: $base-spacing-unit * 2; }
    .soft-double-ends\@md		{ padding-top: $base-spacing-unit * 2; padding-bottom: $base-spacing-unit * 2; }
    .soft-double-sides\@md		{ padding-left: $base-spacing-unit * 2; padding-right: $base-spacing-unit * 2; }

    .soft-triple\@md			{ padding: $base-spacing-unit * 3; }
    .soft-triple-bottom\@md		{ padding-bottom: $base-spacing-unit * 3; }
    .soft-triple-left\@md		{ padding-left: $base-spacing-unit * 3; }
    .soft-triple-right\@md		{ padding-right: $base-spacing-unit * 3; }
    .soft-triple-top\@md		{ padding-top: $base-spacing-unit * 3; }
    .soft-triple-ends\@md		{ padding-top: $base-spacing-unit * 3; padding-bottom: $base-spacing-unit * 3; }
    .soft-triple-sides\@md		{ padding-left: $base-spacing-unit * 3; padding-right: $base-spacing-unit * 3; }

    .soft-quad\@md				{ padding: $base-spacing-unit * 4; }
    .soft-quad-bottom\@md		{ padding-bottom: $base-spacing-unit * 4; }
    .soft-quad-left\@md			{ padding-left: $base-spacing-unit * 4; }
    .soft-quad-right\@md		{ padding-right: $base-spacing-unit * 4; }
    .soft-quad-top\@md			{ padding-top: $base-spacing-unit * 4; }
    .soft-quad-ends\@md			{ padding-top: $base-spacing-unit * 4; padding-bottom: $base-spacing-unit * 4; }
    .soft-quad-sides\@md		{ padding-left: $base-spacing-unit * 4; padding-right: $base-spacing-unit * 4; }

    .hard\@md					{ padding: 0; }
    .hard-bottom\@md			{ padding-bottom: 0; }
    .hard-left\@md				{ padding-left: 0; }
    .hard-right\@md				{ padding-right: 0; }
    .hard-top\@md				{ padding-top: 0; }
    .hard-ends\@md				{ padding-top: 0; padding-bottom: 0; }
    .hard-sides\@md				{ padding-left: 0; padding-right: 0; }
}

@include large {

    .push\@lg					{ margin: $base-spacing-unit; }
    .push-bottom\@lg			{ margin-bottom: $base-spacing-unit; }
    .push-left\@lg				{ margin-left: $base-spacing-unit; }
    .push-right\@lg				{ margin-right: $base-spacing-unit; }
    .push-top\@lg				{ margin-top: $base-spacing-unit; }
    .push-ends\@lg				{ margin-top: $base-spacing-unit; margin-bottom: $base-spacing-unit; }
    .push-sides\@lg				{ margin-left: $base-spacing-unit; margin-right: $base-spacing-unit; }

    .push-half\@lg				{ margin: $half-spacing-unit; }
    .push-half-bottom\@lg		{ margin-bottom: $half-spacing-unit; }
    .push-half-left\@lg			{ margin-left: $half-spacing-unit; }
    .push-half-right\@lg		{ margin-right: $half-spacing-unit; }
    .push-half-top\@lg			{ margin-top: $half-spacing-unit; }
    .push-half-ends\@lg			{ margin-top: $half-spacing-unit; margin-bottom: $half-spacing-unit; }
    .push-half-sides\@lg		{ margin-left: $half-spacing-unit; margin-right: $half-spacing-unit; }

    .push-double\@lg			{ margin: $base-spacing-unit * 2; }
    .push-double-bottom\@lg		{ margin-bottom: $base-spacing-unit * 2; }
    .push-double-left\@lg		{ margin-left: $base-spacing-unit * 2; }
    .push-double-right\@lg		{ margin-right: $base-spacing-unit * 2; }
    .push-double-top\@lg		{ margin-top: $base-spacing-unit * 2; }
    .push-double-ends\@lg		{ margin-top: $base-spacing-unit * 2; margin-bottom: $base-spacing-unit * 2; }
    .push-double-sides\@lg		{ margin-left: $base-spacing-unit * 2; margin-right: $base-spacing-unit * 2; }

    .push-triple\@lg			{ margin: $base-spacing-unit * 3; }
    .push-triple-bottom\@lg		{ margin-bottom: $base-spacing-unit * 3; }
    .push-triple-left\@lg		{ margin-left: $base-spacing-unit * 3; }
    .push-triple-right\@lg		{ margin-right: $base-spacing-unit * 3; }
    .push-triple-top\@lg		{ margin-top: $base-spacing-unit * 3; }
    .push-triple-ends\@lg		{ margin-top: $base-spacing-unit * 3; margin-bottom: $base-spacing-unit * 3; }
    .push-triple-sides\@lg		{ margin-left: $base-spacing-unit * 3; margin-right: $base-spacing-unit * 3; }

    .push-quad\@lg				{ margin: $base-spacing-unit * 4; }
    .push-quad-bottom\@lg		{ margin-bottom: $base-spacing-unit * 4; }
    .push-quad-left\@lg			{ margin-left: $base-spacing-unit * 4; }
    .push-quad-right\@lg		{ margin-right: $base-spacing-unit * 4; }
    .push-quad-top\@lg			{ margin-top: $base-spacing-unit * 4; }
    .push-quad-ends\@lg			{ margin-top: $base-spacing-unit * 4; margin-bottom: $base-spacing-unit * 4; }
    .push-quad-sides\@lg		{ margin-left: $base-spacing-unit * 4; margin-right: $base-spacing-unit * 4; }

    .flush\@lg					{ margin: 0; }
    .flush-bottom\@lg			{ margin-bottom: 0; }
    .flush-left\@lg				{ margin-left: 0; }
    .flush-right\@lg			{ margin-right: 0; }
    .flush-top\@lg				{ margin-top: 0; }
    .flush-ends\@lg				{ margin-top: 0; margin-bottom: 0; }
    .flush-sides\@lg			{ margin-left: 0; margin-right: 0; }

    .soft\@lg					{ padding: $base-spacing-unit; }
    .soft-bottom\@lg			{ padding-bottom: $base-spacing-unit; }
    .soft-left\@lg				{ padding-left: $base-spacing-unit; }
    .soft-right\@lg				{ padding-right: $base-spacing-unit; }
    .soft-top\@lg				{ padding-top: $base-spacing-unit; }
    .soft-ends\@lg				{ padding-top: $base-spacing-unit; padding-bottom: $base-spacing-unit; }
    .soft-sides\@lg				{ padding-left: $base-spacing-unit; padding-right: $base-spacing-unit; }

    .soft-half\@lg				{ padding: $half-spacing-unit; }
    .soft-half-bottom\@lg		{ padding-bottom: $half-spacing-unit; }
    .soft-half-left\@lg			{ padding-left: $half-spacing-unit; }
    .soft-half-right\@lg		{ padding-right: $half-spacing-unit; }
    .soft-half-top\@lg			{ padding-top: $half-spacing-unit; }
    .soft-half-ends\@lg			{ padding-top: $half-spacing-unit; padding-bottom: $half-spacing-unit; }
    .soft-half-sides\@lg		{ padding-left: $half-spacing-unit; padding-right: $half-spacing-unit; }

    .soft-double\@lg			{ padding: $base-spacing-unit * 2; }
    .soft-double-bottom\@lg		{ padding-bottom: $base-spacing-unit * 2; }
    .soft-double-left\@lg		{ padding-left: $base-spacing-unit * 2; }
    .soft-double-right\@lg		{ padding-right: $base-spacing-unit * 2; }
    .soft-double-top\@lg		{ padding-top: $base-spacing-unit * 2; }
    .soft-double-ends\@lg		{ padding-top: $base-spacing-unit * 2; padding-bottom: $base-spacing-unit * 2; }
    .soft-double-sides\@lg		{ padding-left: $base-spacing-unit * 2; padding-right: $base-spacing-unit * 2; }

    .soft-triple\@lg			{ padding: $base-spacing-unit * 3; }
    .soft-triple-bottom\@lg		{ padding-bottom: $base-spacing-unit * 3; }
    .soft-triple-left\@lg		{ padding-left: $base-spacing-unit * 3; }
    .soft-triple-right\@lg		{ padding-right: $base-spacing-unit * 3; }
    .soft-triple-top\@lg		{ padding-top: $base-spacing-unit * 3; }
    .soft-triple-ends\@lg		{ padding-top: $base-spacing-unit * 3; padding-bottom: $base-spacing-unit * 3; }
    .soft-triple-sides\@lg		{ padding-left: $base-spacing-unit * 3; padding-right: $base-spacing-unit * 3; }

    .soft-quad\@lg				{ padding: $base-spacing-unit * 4; }
    .soft-quad-bottom\@lg		{ padding-bottom: $base-spacing-unit * 4; }
    .soft-quad-left\@lg			{ padding-left: $base-spacing-unit * 4; }
    .soft-quad-right\@lg		{ padding-right: $base-spacing-unit * 4; }
    .soft-quad-top\@lg			{ padding-top: $base-spacing-unit * 4; }
    .soft-quad-ends\@lg			{ padding-top: $base-spacing-unit * 4; padding-bottom: $base-spacing-unit * 4; }
    .soft-quad-sides\@lg		{ padding-left: $base-spacing-unit * 4; padding-right: $base-spacing-unit * 4; }

    .hard\@lg					{ padding: 0; }
    .hard-bottom\@lg			{ padding-bottom: 0; }
    .hard-left\@lg				{ padding-left: 0; }
    .hard-right\@lg				{ padding-right: 0; }
    .hard-top\@lg				{ padding-top: 0; }
    .hard-ends\@lg				{ padding-top: 0; padding-bottom: 0; }
    .hard-sides\@lg				{ padding-left: 0; padding-right: 0; }
}
