// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.font-xs {
    font-size: 1.5rem;
    line-height: $base-spacing-unit + $half-spacing-unit;
}

.font-sm {
    font-size: 2rem;
    line-height: $base-spacing-unit * 2;
}

.font-md {
    font-size: 3rem;
    line-height: $base-spacing-unit * 2;
}

.font-lg {
    font-size: 4rem;
    line-height: $base-spacing-unit * 3;
}

p {
    margin-bottom: $base-spacing-unit * 2;
}

@include xsmall {

    .font-xs\@xs {
        font-size: 1rem;
        line-height: $base-spacing-unit;
    }

    .font-sm\@xs {
        font-size: 2rem;
        line-height: $base-spacing-unit * 2;
    }

    .font-md\@xs {
        font-size: 3rem;
        line-height: $base-spacing-unit * 2;
    }

    .font-lg\@xs {
        font-size: 4rem;
        line-height: $base-spacing-unit * 3;
    }
}

@include small {

    .font-xs\@sm {
        font-size: 1rem;
        line-height: $base-spacing-unit;
    }

    .font-sm\@sm {
        font-size: 2rem;
        line-height: $base-spacing-unit * 2;
    }

    .font-md\@sm {
        font-size: 3rem;
        line-height: $base-spacing-unit * 2;
    }

    .font-lg\@sm {
        font-size: 4rem;
        line-height: $base-spacing-unit * 3;
    }
}

@include medium {

    .font-xs\@md {
        font-size: 1rem;
        line-height: $base-spacing-unit;
    }

    .font-sm\@md {
        font-size: 2rem;
        line-height: $base-spacing-unit * 2;
    }

    .font-md\@md {
        font-size: 3rem;
        line-height: $base-spacing-unit * 2;
    }

    .font-lg\@md {
        font-size: 4rem;
        line-height: $base-spacing-unit * 3;
    }
}

@include large {

    .font-xs\@lg {
        font-size: 1rem;
        line-height: $base-spacing-unit;
    }

    .font-sm\@lg {
        font-size: 2rem;
        line-height: $base-spacing-unit * 2;
    }

    .font-md\@lg {
        font-size: 3rem;
        line-height: $base-spacing-unit * 2;
    }

    .font-lg\@lg {
        font-size: 4rem;
        line-height: $base-spacing-unit * 3;
    }
}
