.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	text-transform: none;
}

small {
  vertical-align: middle !important;
}

.strikethrough {
  text-decoration: line-through;
}

.align-bottom {
	vertical-align: bottom !important;
}

.align-middle {
	vertical-align: middle !important;
}

.align-top {
	vertical-align: top !important;
}

.align-baseline {
	vertical-align: baseline !important;
}

/* Layout Utils */
.fl {
  float: left;
}

.fr {
  float: right;
}

.align-baseline {
  vertical-align: baseline !important;
}

/* Text Utils */
.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.nowrap {
	white-space: nowrap;
}

/* Grid */
.grid:after {
  clear: both;
  content: "";
  display: table;
}

.grid--with-gutter {
  margin: 0 -1em !important;
  box-sizing: border-box;
}

.grid--with-gutter > .grid__cell {
  padding: 0 0.5em;
}

.grid__cell {
  float: left;
  width: 100%;
}

/* Widths */
[class~='1/1'] { width: 100%; }
[class~='5/6'] { width: 83.33333333%; }
[class~='4/5'] { width: 80%; }
[class~='3/4'] { width: 75%; }
[class~='2/3'] { width: 66.66666666%; }
[class~='3/5'] { width: 60%; }
[class~='1/2'] { width: 50%; }
[class~='2/5'] { width: 40%; }
[class~='1/3'] { width: 33.33333334%; }
[class~='1/4'] { width: 25%; }
[class~='1/5'] { width: 20%; }
[class~='1/6'] { width: 16.66666667%; }
[class~='1/8'] { width: 12.5%; }

[class~='push-3/10'] { margin-left: 30% !important; }

[class~='push-1/10'] { margin-left: 10% !important; }

/* Margins and Padding */
.push         { margin: 1em !important; }
.push-bottom      { margin-bottom: 1em !important; }
.push-left        { margin-left: 1em !important; }
.push-right       { margin-right: 1em !important; }
.push-top       { margin-top: 1em !important; }
.push-ends        { margin-top: 1em !important; margin-bottom: 1em !important; }
.push-sides       { margin-left: 1em !important; margin-right: 1em !important; }

.push-half        { margin: 0.5em !important; }
.push-half-bottom   { margin-bottom: 0.5em !important; }
.push-half-left     { margin-left: 0.5em !important; }
.push-half-right    { margin-right: 0.5em !important; }
.push-half-top      { margin-top: 0.5em !important; }
.push-half-ends     { margin-top: 0.5em !important; margin-bottom: 0.5em !important; }
.push-half-sides    { margin-left: 0.5em !important; margin-right: 0.5em !important; }

.push-double      { margin: 2em !important; }
.push-double-bottom   { margin-bottom: 2em !important; }
.push-double-left   { margin-left: 2em !important; }
.push-double-right    { margin-right: 2em !important; }
.push-double-top    { margin-top: 2em !important; }
.push-double-ends   { margin-top: 2em !important; margin-bottom: 2em !important; }
.push-double-sides    { margin-left: 2em !important; margin-right: 2em !important; }

.push-triple      { margin: 3em !important; }
.push-triple-bottom   { margin-bottom: 3em !important; }
.push-triple-left   { margin-left: 3em !important; }
.push-triple-right    { margin-right: 3em !important; }
.push-triple-top    { margin-top: 3em !important; }
.push-triple-ends   { margin-top: 3em !important; margin-bottom: 3em !important; }
.push-triple-sides    { margin-left: 3em !important; margin-right: 3em !important; }

.push-quad        { margin: 4em !important; }
.push-quad-bottom   { margin-bottom: 4em !important; }
.push-quad-left     { margin-left: 4em !important; }
.push-quad-right    { margin-right: 4em !important; }
.push-quad-top      { margin-top: 4em !important; }
.push-quad-ends     { margin-top: 4em !important; margin-bottom: 4em !important; }
.push-quad-sides    { margin-left: 4em !important; margin-right: 4em !important; }

.flush          { margin: 0 !important; }
.flush-bottom     { margin-bottom: 0 !important; }
.flush-left       { margin-left: 0 !important; }
.flush-right      { margin-right: 0 !important; }
.flush-top        { margin-top: 0 !important; }
.flush-ends       { margin-top: 0; margin-bottom: 0 !important; }
.flush-sides      { margin-left: 0; margin-right: 0 !important; }

.soft         { padding: 1em !important; }
.soft-bottom      { padding-bottom: 1em !important; }
.soft-left        { padding-left: 1em !important; }
.soft-right       { padding-right: 1em !important; }
.soft-top       { padding-top: 1em !important; }
.soft-ends        { padding-top: 1em !important; padding-bottom: 1em !important; }
.soft-sides       { padding-left: 1em !important; padding-right: 1em !important; }

.soft-half        { padding: 0.5em !important; }
.soft-half-bottom   { padding-bottom: 0.5em !important; }
.soft-half-left     { padding-left: 0.5em !important; }
.soft-half-right    { padding-right: 0.5em !important; }
.soft-half-top      { padding-top: 0.5em !important; }
.soft-half-ends     { padding-top: 0.5em !important; padding-bottom: 0.5em !important; }
.soft-half-sides    { padding-left: 0.5em !important; padding-right: 0.5em !important; }

.soft-double      { padding: 2em !important; }
.soft-double-bottom   { padding-bottom: 2em !important; }
.soft-double-left   { padding-left: 2em !important; }
.soft-double-right    { padding-right: 2em !important; }
.soft-double-top    { padding-top: 2em !important; }
.soft-double-ends   { padding-top: 2em !important; padding-bottom: 2em !important; }
.soft-double-sides    { padding-left: 2em !important; padding-right: 2em !important; }

.soft-triple      { padding: 3em !important; }
.soft-triple-bottom   { padding-bottom: 3em !important; }
.soft-triple-left   { padding-left: 3em !important; }
.soft-triple-right    { padding-right: 3em !important; }
.soft-triple-top    { padding-top: 3em !important; }
.soft-triple-ends   { padding-top: 3em !important; padding-bottom: 3em !important; }
.soft-triple-sides    { padding-left: 3em !important; padding-right: 3em !important; }

.soft-quad        { padding: 4em !important; }
.soft-quad-bottom   { padding-bottom: 4em !important; }
.soft-quad-left     { padding-left: 4em !important; }
.soft-quad-right    { padding-right: 4em !important; }
.soft-quad-top      { padding-top: 4em !important; }
.soft-quad-ends     { padding-top: 4em !important; padding-bottom: 4em !important; }
.soft-quad-sides    { padding-left: 4em !important; padding-right: 4em !important; }

.hard         { padding: 0 !important; }
.hard-bottom      { padding-bottom: 0 !important; }
.hard-left        { padding-left: 0 !important; }
.hard-right       { padding-right: 0 !important; }
.hard-top       { padding-top: 0 !important; }
.hard-ends        { padding-top: 0 !important; padding-bottom: 0 !important; }
.hard-sides       { padding-left: 0 !important; padding-right: 0 !important; }


.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal {
  color: #213444;
  font-family: 'Roboto Slab', serif;
}
