
// Settings
$sm-viewport: "(min-width: 480px)";
$md-viewport: "(min-width: 720px)";
$lg-viewport: "(min-width: 1200px)";

@mixin mq($viewport) {

  @if $viewport == sm-viewport {
    @media #{$sm-viewport} { @content; }
  }
  @else if $viewport == md-viewport {
    @media #{$md-viewport} { @content; }
  }
  @else if $viewport == lg-viewport {
    @media #{$lg-viewport}  { @content; }
  }
}
