{% assign pages = site.pages | sort:"order"  %}
{% for page in pages %}
    {% if page.order %}
        {% if page.title == "Home" %}
            <h1 class="site-title h5"><a href="{{ page.url }}" class="{{ page.title | slugify }}">Jesse Trippe</a></h1>
        {% elsif page.title == "Selected Work" %}
            {% for work_item in site.work_items limit:1 %}
              <a href="{{ work_item.permalink }}" class="{{ page.title | slugify }}">{{ page.title }}</a>
            {% endfor %}
        {% else %}
            <a href="{{ page.url }}" class="{{ page.title | slugify }}">{{ page.title }}</a>
        {% endif %}
    {% endif %}
{% endfor %}
