<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/stylesheets/main.css">
</head>

<body class="{{ page.title | slugify }}">
  <nav class="site-nav">
    {% include nav.html %}
  </nav>

  <header class="site-header grid">
    {% if page.title == 'Home' %}
      <p class="site-header__lead display-4">Hello! I'm Jesse Trippe—a <span class="text-highlight">Product</span> and <span class="text-highlight">UX Designer</span> working at Amazon in <span class="text-nowrap">Seattle, WA.</span></p>
    {% else %}
      <h1 class="page-title display-4">
          {{ page.title }}
          {% if page.tag == "case-study" %}
              <span class="case-study-tag h5">Case Study</span>
          {% endif %}
      </h1>
    {% endif %}
  </header>

  <main class="site-main grid">
    {{ content }}
  </main>

  {% if page.id %}
      {% include pagination.html %}
  {% endif %}

  <footer class="site-footer">
    <p>Let's talk.<br> <a href="mailto:jesse@jessetrippe.com">jesse@jessetrippe.com</a></p>
  </footer>

  <script src="{{site.baseurl}}/assets/javascripts/main.js"></script>

</body>
</html>
