<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}

    {% if page.id %}
        <meta name="robots" content="noindex, nofollow">
    {% endif %}
</head>
<body>

    {% include nav.html %}

    <div class="masthead">
        <div class="grid-frame soft-sides hard@md">
            <h2 class="masthead-title soft-sides soft-triple-sides@md">
                {% if page.intro %}
                    {{ page.intro }}
                {% else %}
                    {{ page.title }}
                {% endif %}
                {% if page.tag == "case-study" %}
                    <span class="title-tag">Case Study</span>
                {% endif %}
            </h2>
            {% if page.id %}
                {% include header-pagination.html %}
            {% endif %}
        </div>
    </div>

    {{ content }}

    {% if page.id %}
        {% include pagination.html %}
    {% endif %}

    {% include footer.html %}

</body>
</html>
