<!DOCTYPE html>
<html lang="en">
<head>
    {% include header.html %}
    <meta name="robots" content="noindex, nofollow">
</head>
<body>

    {% include nav.html %}

    <div class="masthead">
        <div class="grid-frame soft-sides hard@md">
            <h2 class="masthead-title soft-sides soft-triple-sides@md">
                {% if page.intro %}
                    {{ page.intro }}
                {% else %}
                    {{ page.title }}
                {% endif %}
                {% if page.tag == "case-study" %}
                    <span class="title-tag">Case Study</span>
                {% endif %}
            </h2>
            {% include header-pagination.html %}
        </div>
    </div>

    {{ content }}

    {% include pagination.html %}
    {% include footer.html %}

</body>
</html>
