@charset "UTF-8";
/**
 * Media Query Mixins
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications. Removes the default spacing and border for
 * appropriate elements.
 */
html {
  background: inherit;
  color: inherit;
  font: 16px sans-serif; }

a {
  color: #069;
  text-decoration: none; }

a:hover,
a:focus,
a:active {
  color: #069;
  text-decoration: underline; }

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0; }

button {
  background: transparent;
  border: 0;
  padding: 0; }

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

iframe {
  border: 0; }

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */
[tabindex="-1"]:focus {
  outline: none !important; }

/**
 * Basic layout definitions
 */
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px; }

/**
 * Basic type definitions
 */
html {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-size: 16px;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit;
  position: relative; }

body {
  background: inherit;
  color: inherit;
  font: 400 1rem/20px "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

hr {
  border: 0;
  border-top: 1px solid #f0f0f0;
  margin: 0; }

header {
  background: #41ff23;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.cs-tasks header {
  background-image: url(../img/0-my-tasks.svg); }

.cs-ltl header {
  background-image: url(../img/0-ltl-quote.svg); }

.cs-howl header {
  background-image: url(../img/0-mobile-app.svg); }

img {
  width: 100%;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px; }

.grid--with-gutter .wrapper-sticky .grid-cell {
  padding: 0 10px; }

footer {
  background: whitesmoke;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

footer nav a {
  background: #fff;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 3px;
  padding: 20px;
  margin: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: relative;
  transition: all 0.15s;
  background: #67ff4f; }
  footer nav a img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    border: 0;
    transition: all 0.15s; }
  footer nav a .hover-text {
    position: absolute;
    top: -25%;
    font-size: .75rem;
    white-space: nowrap;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    color: #000;
    transition: all 0.15s;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    font-weight: 500; }
  footer nav a img {
    opacity: .075; }
  footer nav a:hover {
    background: #41ff23; }
    footer nav a:hover img {
      opacity: .15; }

/**
 * This component lets you lay out a row of cells in various ways. You can
 * specify whether a cell should be wide enough to fit its content, or take up
 * the remaining space in the row. It's also possible to give all cells an
 * equal width, and to control their vertical alignment.
 */
/**
 * 1. Protect against the component expanding beyond the confines of its
 *    container if properties affecting the box-model are applied to the
 *    component. Mainly necessary because of (5).
 * 2. Rely on table layout.
 * 3. Zero out the default spacing that might be on an element (e.g., `ul`).
 * 4. Make sure the component fills at least the full width of its parent.
 * 5. Reset the table-layout algorithm in case a component is nested.
 */
.arrange {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 2 */
  margin: 0;
  /* 3 */
  min-width: 100%;
  /* 4 */
  padding: 0;
  /* 3 */
  table-layout: auto;
  /* 5 */ }

/**
 * There are two possible types of child. `size-fill` will expand to fill all
 * of the remaining space not filled by `size-fit` elements.
 *
 * 1. Zero out any default spacing that might be on an element (e.g., `li`);
 *    Margin has no effect when coupled with `display: table-cell`.
 * 2. All cells are top-aligned by default
 */
.arrange-size-fill,
.arrange-size-fit {
  display: table-cell;
  padding: 0;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Make sure the main content block expands to fill the remaining space.
 */
.arrange-size-fill {
  width: 100%; }

/**
 * Where possible, protect against large images breaking the layout. Prevent them from
 * exceeding the width of the main content block by making them fluid.
 *
 * Only work for all browsers with the `Arrange--equally` variant. For Firefox
 * and IE to constrain image dimensions for other layouts, large images will
 * need their width set to `100%`.
 */
.arrange-size-fill img {
  height: auto;
  max-width: 100%; }

/**
 * Defend against a side-effect of this layout pattern: images in
 * 'Arrange-size-fit' cannot be fluid, otherwise they lose their ability to
 * provide size to a cell.
 */
.arrange-size-fit img {
  max-width: none !important;
  width: auto !important; }

/* Vertical alignment modifiers
   ========================================================================== */
.arrange--middle .arrange-size-fill,
.arrange--middle .arrange-size-fit {
  vertical-align: middle; }

.arrange--bottom .arrange-size-fill,
.arrange--bottom .arrange-size-fit {
  vertical-align: bottom; }

/* Equal-width modifier
   ========================================================================== */
/**
 * This layout algorithm will create equal-width table cells, irrespective of
 * the width of their content.
 *
 * 1. The layout algorithm requires a set width to correctly calculate table
 *    cell width.
 */
.arrange--equal {
  table-layout: fixed;
  width: 100%;
  /* 1 */ }

/**
 * Give the cells an equal width. This value ensures that Arrange is still 100%
 * wide when gutters are used in conjunctions with equal-width cells.
 *
 * It's recommended that only 'Arrange-size-fill' be used for equal width cells.
 * Their inner images will automatically be responsive.
 */
.arrange--equal > .arrange-size-fill,
.arrange--equal > .arrange-size-fit {
  width: 1%; }

/* Gutter modifier
   ========================================================================== */
/**
 * Add a gutter between cells
 *
 * NOTE: this can trigger a horizontal scrollbar if the component is as wide as
 * the viewport. Use padding on a container, or `overflow-x:hidden` to protect
 * against it.
 */
.arrange--with-gutter {
  margin: 0 calc(-0.5 * var(--Arrange-gutter-size)); }

.arrange--with-gutter > .arrange-size-fit,
.arrange--with-gutter > .arrange-size-fill {
  padding: 0 calc(0.5 * var(--Arrange-gutter-size)); }

/**
 * The button classes are best applied to links, buttons, and submit inputs.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 */
/**
 * 1. Corrects inability to style clickable `input` types in iOS.
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Inherit text color from ancestor.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. For `input`, it can't be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Make sure `input` will wrap text across multiple lines.
 */
.button {
  -webkit-appearance: none;
  /* 1 */
  background: transparent;
  border-color: currentcolor;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  /* 2 */
  color: inherit;
  /* 3 */
  cursor: pointer;
  display: inline-block;
  font: inherit;
  /* 4 */
  line-height: normal;
  /* 5 */
  margin: 0;
  padding: 0.4em 0.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  /* 6 */
  white-space: normal;
  /* 7 */ }

/**
 * Remove excess padding and border in Firefox 4+
 */
.button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */
.button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

/**
 * UI states
 */
.button:hover,
.button:focus,
.button:active {
  text-decoration: none; }

.button:disabled,
.button.is-disabled {
  cursor: default;
  opacity: 0.6; }

/**
 * Flexible media embeds
 *
 * For use with media embeds – such as videos, slideshows, or even images –
 * that need to retain a specific aspect ratio but adapt to the width of their
 * containing element.
 *
 * Based on: http://alistapart.com/article/creating-intrinsic-ratios-for-video
 */
.flex-embed {
  display: block;
  overflow: hidden;
  position: relative; }

/**
 * The aspect-ratio hack is applied to an empty element because it allows
 * the component to respect `max-height`. Default aspect ratio is 1:1.
 */
.flex-embed-ratio {
  display: block;
  padding-bottom: 100%;
  width: 100%; }

/**
 * Modifier: 3:1 aspect ratio
 */
.flex-embed-ratio--3by1 {
  padding-bottom: calc(100% / 3); }

/**
 * Modifier: 2:1 aspect ratio
 */
.flex-embed-ratio--2by1 {
  padding-bottom: 50%; }

/**
 * Modifier: 16:9 aspect ratio
 */
.flex-embed-ratio--16by9 {
  padding-bottom: 56.25%; }

/**
 * Modifier: 4:3 aspect ratio
 */
.flex-embed-ratio--4by3 {
  padding-bottom: 75%; }

/**
 * Fit the content to the aspect ratio
 */
.flex-embed-content {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

/**
 * Core grid component
 *
 * DO NOT apply dimension or offset utilities to the `Grid` element. All cell
 * widths and offsets should be applied to child grid cells.
 */
/* Grid container
   ========================================================================== */
/**
 * All content must be contained within child `Grid-cell` elements.
 *
 * 1. Account for browser defaults of elements that might be the root node of
 *    the component.
 * 2. Remove inter-cell whitespace that appears between `inline-block` child
 *    elements.
 * 3. Ensure consistent default alignment.
 */
.grid {
  display: block;
  /* 1 */
  font-size: 0;
  /* 2 */
  margin: 0;
  /* 1 */
  padding: 0;
  /* 1 */
  text-align: left;
  /* 3 */ }

/**
 * Modifier: center align all grid cells
 */
.grid--align-center {
  text-align: center; }

/**
 * Modifier: right align all grid cells
 */
.grid--align-right {
  text-align: right; }

/**
 * Modifier: middle-align grid cells
 */
.grid--align-middle > .grid-cell {
  vertical-align: middle; }

/**
 * Modifier: bottom-align grid cells
 */
.grid--align-bottom > .grid-cell {
  vertical-align: bottom; }

/**
 * Modifier: gutters
 *
 * NOTE: this can trigger a horizontal scrollbar if the component is as wide as
 * the viewport. Use padding on a container, or `overflow-x:hidden` to protect
 * against it.
 */
.grid--with-gutter {
  margin: 0 -10px; }

.grid--with-gutter > .grid-cell {
  padding: 0 10px; }

/* Grid cell
   ========================================================================== */
/**
 * No explicit width by default. Rely on combining `Grid-cell` with a dimension
 * utility or a component class that extends 'grid'.
 *
 * 1. Fundamentals of the non-float grid layout.
 * 2. Reset font size change made in `Grid`.
 * 3. Keeps content correctly aligned with the grid direction.
 * 4. Controls vertical positioning of units.
 * 5. Make cells full-width by default.
 */
.grid-cell {
  box-sizing: border-box;
  display: inline-block;
  /* 1 */
  font-size: 1rem;
  /* 2 */
  margin: 0;
  padding: 0;
  text-align: left;
  /* 3 */
  vertical-align: top;
  /* 4 */
  width: 100%;
  /* 5 */ }

/**
 * Modifier: horizontally center one unit
 * Set a specific unit to be horizontally centered. Doesn't affect
 * any other units. Can still contain a child `Grid` object.
 */
.grid-cell--center {
  display: block;
  margin: 0 auto; }

/**
 * Vertical alignment utilities
 * Depends on an appropriate `display` value.
 */
.align-baseline {
  vertical-align: baseline !important; }

.align-bottom {
  vertical-align: bottom !important; }

.align-middle {
  vertical-align: middle !important; }

.align-top {
  vertical-align: top !important; }

/**
 * Display-type utilities
 */
.block {
  display: block !important; }

.hidden {
  display: none !important; }

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.hidden-visually {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; }

.inline {
  display: inline !important; }

/**
 * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
 * inline-block will display at its default size, and not limit its width to
 * 100% of an ancestral container.
 */
.inline-block {
  display: inline-block !important;
  max-width: 100%;
  /* 1 */ }

.table {
  display: table !important; }

.table-cell {
  display: table-cell !important; }

.table-row {
  display: table-row !important; }

/**
 * Contain floats
 *
 * Make an element expand to contain floated children.
 * Uses pseudo-elements (micro clearfix).
 *
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of the
 *    element.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * New block formatting context
 *
 * This affords some useful properties to the element. It won't wrap under
 * floats. Will also contain any floated children.

 * N.B. This will clip overflow. Use the alternative method below if this is
 * problematic.
 */
.nbfc {
  overflow: hidden !important; }

/**
 * New block formatting context (alternative)
 *
 * Alternative method when overflow must not be clipped.
 *
 * 1. Create a new block formatting context (NBFC).
 * 2. Avoid shrink-wrap behaviour of table-cell.
 *
 * N.B. This breaks down in some browsers when elements within this element
 * exceed its width.
 */
.nbfc-alt {
  display: table-cell !important;
  /* 1 */
  width: 10000px !important;
  /* 2 */ }

/**
 * Floats
 */
.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

/**
 * Clean link
 *
 * A link without any text-decoration at all.
 */
.link-clean,
.link-clean:hover,
.link-clean:focus,
.link-clean:active {
  text-decoration: none !important; }

/**
 * Link complex
 *
 * A common pattern is to have a link with several pieces of text and/or an
 * icon, where only one piece of text should display the underline when the
 * link is the subject of user interaction.
 *
 * Example HTML:
 *
 * <a class="link-complex" href="#">
 *   Link complex
 *   <span class="link-complex-target">target</span>
 * </a>
 */
.link-complex,
.link-complex:hover,
.link-complex:focus,
.link-complex:active {
  text-decoration: none !important; }

.link-complex:hover .link-complex-target,
.link-complex:focus .link-complex-target,
.link-complex:active .link-complex-target {
  text-decoration: underline !important; }

/**
 * Block-level link
 *
 * Combination of traits commonly used in vertical navigation lists.
 */
.link-block,
.link-block:hover,
.link-block:focus,
.link-block:active {
  display: block !important;
  text-decoration: none !important; }

/**
 * Offset elements
 */
[class~='offset-before-1/1'] {
  margin-left: 100%; }

[class~='offset-before-5/6'] {
  margin-left: 83.33333333%; }

[class~='offset-before-4/5'] {
  margin-left: 80%; }

[class~='offset-before-2/3'] {
  margin-left: 66.66666666%; }

[class~='offset-before-3/5'] {
  margin-left: 60%; }

[class~='offset-before-1/2'] {
  margin-left: 50%; }

[class~='offset-before-2/5'] {
  margin-left: 40%; }

[class~='offset-before-1/3'] {
  margin-left: 33.33333334%; }

[class~='offset-before-1/4'] {
  margin-left: 25%; }

[class~='offset-before-1/5'] {
  margin-left: 20%; }

[class~='offset-before-1/6'] {
  margin-left: 16.66666667%; }

[class~='offset-after-1/1'] {
  margin-right: 100%; }

[class~='offset-after-5/6'] {
  margin-right: 83.33333333%; }

[class~='offset-after-4/5'] {
  margin-right: 80%; }

[class~='offset-after-2/3'] {
  margin-right: 66.66666666%; }

[class~='offset-after-3/5'] {
  margin-right: 60%; }

[class~='offset-after-1/2'] {
  margin-right: 50%; }

[class~='offset-after-2/5'] {
  margin-right: 40%; }

[class~='offset-after-1/3'] {
  margin-right: 33.33333334%; }

[class~='offset-after-1/4'] {
  margin-right: 25%; }

[class~='offset-after-1/5'] {
  margin-right: 20%; }

[class~='offset-after-1/6'] {
  margin-right: 16.66666667%; }

@media only screen and (min-width: 500px) {
  [class~='offset-before-1/1@sm'] {
    margin-left: 100%; }
  [class~='offset-before-5/6@sm'] {
    margin-left: 83.33333333%; }
  [class~='offset-before-4/5@sm'] {
    margin-left: 80%; }
  [class~='offset-before-2/3@sm'] {
    margin-left: 66.66666666%; }
  [class~='offset-before-3/5@sm'] {
    margin-left: 60%; }
  [class~='offset-before-1/2@sm'] {
    margin-left: 50%; }
  [class~='offset-before-2/5@sm'] {
    margin-left: 40%; }
  [class~='offset-before-1/3@sm'] {
    margin-left: 33.33333334%; }
  [class~='offset-before-1/4@sm'] {
    margin-left: 25%; }
  [class~='offset-before-1/5@sm'] {
    margin-left: 20%; }
  [class~='offset-before-1/6@sm'] {
    margin-left: 16.66666667%; }
  [class~='offset-after-1/1@sm'] {
    margin-right: 100%; }
  [class~='offset-after-5/6@sm'] {
    margin-right: 83.33333333%; }
  [class~='offset-after-4/5@sm'] {
    margin-right: 80%; }
  [class~='offset-after-2/3@sm'] {
    margin-right: 66.66666666%; }
  [class~='offset-after-3/5@sm'] {
    margin-right: 60%; }
  [class~='offset-after-1/2@sm'] {
    margin-right: 50%; }
  [class~='offset-after-2/5@sm'] {
    margin-right: 40%; }
  [class~='offset-after-1/3@sm'] {
    margin-right: 33.33333334%; }
  [class~='offset-after-1/4@sm'] {
    margin-right: 25%; }
  [class~='offset-after-1/5@sm'] {
    margin-right: 20%; }
  [class~='offset-after-1/6@sm'] {
    margin-right: 16.66666667%; } }

@media only screen and (min-width: 800px) {
  [class~='offset-before-1/1@md'] {
    margin-left: 100%; }
  [class~='offset-before-5/6@md'] {
    margin-left: 83.33333333%; }
  [class~='offset-before-4/5@md'] {
    margin-left: 80%; }
  [class~='offset-before-2/3@md'] {
    margin-left: 66.66666666%; }
  [class~='offset-before-3/5@md'] {
    margin-left: 60%; }
  [class~='offset-before-1/2@md'] {
    margin-left: 50%; }
  [class~='offset-before-2/5@md'] {
    margin-left: 40%; }
  [class~='offset-before-1/3@md'] {
    margin-left: 33.33333334%; }
  [class~='offset-before-1/4@md'] {
    margin-left: 25%; }
  [class~='offset-before-1/5@md'] {
    margin-left: 20%; }
  [class~='offset-before-1/6@md'] {
    margin-left: 16.66666667%; }
  [class~='offset-after-1/1@md'] {
    margin-right: 100%; }
  [class~='offset-after-5/6@md'] {
    margin-right: 83.33333333%; }
  [class~='offset-after-4/5@md'] {
    margin-right: 80%; }
  [class~='offset-after-2/3@md'] {
    margin-right: 66.66666666%; }
  [class~='offset-after-3/5@md'] {
    margin-right: 60%; }
  [class~='offset-after-1/2@md'] {
    margin-right: 50%; }
  [class~='offset-after-2/5@md'] {
    margin-right: 40%; }
  [class~='offset-after-1/3@md'] {
    margin-right: 33.33333334%; }
  [class~='offset-after-1/4@md'] {
    margin-right: 25%; }
  [class~='offset-after-1/5@md'] {
    margin-right: 20%; }
  [class~='offset-after-1/6@md'] {
    margin-right: 16.66666667%; } }

@media only screen and (min-width: 1050px) {
  [class~='offset-before-1/1@lg'] {
    margin-left: 100%; }
  [class~='offset-before-5/6@lg'] {
    margin-left: 83.33333333%; }
  [class~='offset-before-4/5@lg'] {
    margin-left: 80%; }
  [class~='offset-before-2/3@lg'] {
    margin-left: 66.66666666%; }
  [class~='offset-before-3/5@lg'] {
    margin-left: 60%; }
  [class~='offset-before-1/2@lg'] {
    margin-left: 50%; }
  [class~='offset-before-2/5@lg'] {
    margin-left: 40%; }
  [class~='offset-before-1/3@lg'] {
    margin-left: 33.33333334%; }
  [class~='offset-before-1/4@lg'] {
    margin-left: 25%; }
  [class~='offset-before-1/5@lg'] {
    margin-left: 20%; }
  [class~='offset-before-1/6@lg'] {
    margin-left: 16.66666667%; }
  [class~='offset-after-1/1@lg'] {
    margin-right: 100%; }
  [class~='offset-after-5/6@lg'] {
    margin-right: 83.33333333%; }
  [class~='offset-after-4/5@lg'] {
    margin-right: 80%; }
  [class~='offset-after-2/3@lg'] {
    margin-right: 66.66666666%; }
  [class~='offset-after-3/5@lg'] {
    margin-right: 60%; }
  [class~='offset-after-1/2@lg'] {
    margin-right: 50%; }
  [class~='offset-after-2/5@lg'] {
    margin-right: 40%; }
  [class~='offset-after-1/3@lg'] {
    margin-right: 33.33333334%; }
  [class~='offset-after-1/4@lg'] {
    margin-right: 25%; }
  [class~='offset-after-1/5@lg'] {
    margin-right: 20%; }
  [class~='offset-after-1/6@lg'] {
    margin-right: 16.66666667%; } }

.pos-absolute {
  position: absolute !important; }

/**
 * Pins to all corners by default. But when a width and/or height are
 * provided, the element will be centered in its nearest relatively-positioned
 * ancestor.
 */
.pos-absolute-center {
  bottom: 0 !important;
  left: 0 !important;
  margin: auto !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important; }

/**
 * 1. Make sure fixed elements are promoted into a new layer, for performance
 *    reasons.
 */
.pos-fixed {
  position: fixed !important;
  backface-visibility: hidden;
  /* 1 */ }

.pos-relative {
  position: relative !important; }

.pos-static {
  position: static !important; }

/**
 * Sizing utilities
 */
/* Intrinsic widths
   ========================================================================== */
/**
 * Make an element shrink wrap its content.
 */
.size-fit,
.size-fit-alt {
  display: block !important;
  float: left !important;
  width: auto !important; }

.size-fit-alt {
  float: right !important; }

/**
 * Make an element fill the remaining space.
 * N.B. This will hide overflow.
 */
.size-fill {
  display: block !important;
  overflow: hidden !important;
  width: auto !important; }

/**
 * An alternative method to make an element fill the remaining space.
 * N.B. Do not use if child elements might be wider than the remaining space.
 * In Chrome, Safari, and Firefox it results in undesired layout.
 */
.size-fill-alt {
  display: table-cell !important;
  max-width: 100% !important;
  width: 10000px !important; }

/**
 * Make an element the width of its parent.
 */
.size-full {
  box-sizing: border-box !important;
  display: block !important;
  width: 100% !important; }

/* Proportional widths
   ========================================================================== */
/**
 * Specify the proportional width of an object.
 * Intentional redundancy build into each set of unit classes.
 * Supports: 2, 3, 4, 5, 6 part
 */
[class~='1/1'] {
  width: 100%; }

[class~='5/6'] {
  width: 83.33333333%; }

[class~='4/5'] {
  width: 80%; }

[class~='3/4'] {
  width: 75%; }

[class~='2/3'] {
  width: 66.66666666%; }

[class~='3/5'] {
  width: 60%; }

[class~='1/2'] {
  width: 50%; }

[class~='2/5'] {
  width: 40%; }

[class~='1/3'] {
  width: 33.33333334%; }

[class~='1/4'] {
  width: 25%; }

[class~='1/5'] {
  width: 20%; }

[class~='1/6'] {
  width: 16.66666667%; }

@media only screen and (min-width: 500px) {
  [class~='1/1@sm'] {
    width: 100%; }
  [class~='5/6@sm'] {
    width: 83.33333333%; }
  [class~='4/5@sm'] {
    width: 80%; }
  [class~='4/5@sm'] {
    width: 75%; }
  [class~='2/3@sm'] {
    width: 66.66666666%; }
  [class~='3/5@sm'] {
    width: 60%; }
  [class~='1/2@sm'] {
    width: 50%; }
  [class~='2/5@sm'] {
    width: 40%; }
  [class~='1/3@sm'] {
    width: 33.33333334%; }
  [class~='1/4@sm'] {
    width: 25%; }
  [class~='1/5@sm'] {
    width: 20%; }
  [class~='1/6@sm'] {
    width: 16.66666667%; } }

@media only screen and (min-width: 800px) {
  [class~='1/1@md'] {
    width: 100%; }
  [class~='5/6@md'] {
    width: 83.33333333%; }
  [class~='4/5@md'] {
    width: 80%; }
  [class~='4/5@md'] {
    width: 75%; }
  [class~='2/3@md'] {
    width: 66.66666666%; }
  [class~='3/5@md'] {
    width: 60%; }
  [class~='1/2@md'] {
    width: 50%; }
  [class~='2/5@md'] {
    width: 40%; }
  [class~='1/3@md'] {
    width: 33.33333334%; }
  [class~='1/4@md'] {
    width: 25%; }
  [class~='1/5@md'] {
    width: 20%; }
  [class~='1/6@md'] {
    width: 16.66666667%; } }

@media only screen and (min-width: 1050px) {
  [class~='1/1@lg'] {
    width: 100%; }
  [class~='5/6@lg'] {
    width: 83.33333333%; }
  [class~='4/5@lg'] {
    width: 80%; }
  [class~='4/5@lg'] {
    width: 75%; }
  [class~='2/3@lg'] {
    width: 66.66666666%; }
  [class~='3/5@lg'] {
    width: 60%; }
  [class~='1/2@lg'] {
    width: 50%; }
  [class~='2/5@lg'] {
    width: 40%; }
  [class~='1/3@lg'] {
    width: 33.33333334%; }
  [class~='1/4@lg'] {
    width: 25%; }
  [class~='1/5@lg'] {
    width: 20%; }
  [class~='1/6@lg'] {
    width: 16.66666667%; } }

.push {
  margin: 20px !important; }

.push-bottom {
  margin-bottom: 20px !important; }

.push-left {
  margin-left: 20px !important; }

.push-right {
  margin-right: 20px !important; }

.push-top {
  margin-top: 20px !important; }

.push-ends {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.push-sides {
  margin-left: 20px !important;
  margin-right: 20px !important; }

.push-half {
  margin: 10px !important; }

.push-half-bottom {
  margin-bottom: 10px !important; }

.push-half-left {
  margin-left: 10px !important; }

.push-half-right {
  margin-right: 10px !important; }

.push-half-top {
  margin-top: 10px !important; }

.push-half-ends {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.push-half-sides {
  margin-left: 10px !important;
  margin-right: 10px !important; }

.push-double {
  margin: 40px !important; }

.push-double-bottom {
  margin-bottom: 40px !important; }

.push-double-left {
  margin-left: 40px !important; }

.push-double-right {
  margin-right: 40px !important; }

.push-double-top {
  margin-top: 40px !important; }

.push-double-ends {
  margin-top: 40px !important;
  margin-bottom: 40px !important; }

.push-double-sides {
  margin-left: 40px !important;
  margin-right: 40px !important; }

.push-triple {
  margin: 60px !important; }

.push-triple-bottom {
  margin-bottom: 60px !important; }

.push-triple-left {
  margin-left: 60px !important; }

.push-triple-right {
  margin-right: 60px !important; }

.push-triple-top {
  margin-top: 60px !important; }

.push-triple-ends {
  margin-top: 60px !important;
  margin-bottom: 60px !important; }

.push-triple-sides {
  margin-left: 60px !important;
  margin-right: 60px !important; }

.push-quad {
  margin: 80px !important; }

.push-quad-bottom {
  margin-bottom: 80px !important; }

.push-quad-left {
  margin-left: 80px !important; }

.push-quad-right {
  margin-right: 80px !important; }

.push-quad-top {
  margin-top: 80px !important; }

.push-quad-ends {
  margin-top: 80px !important;
  margin-bottom: 80px !important; }

.push-quad-sides {
  margin-left: 80px !important;
  margin-right: 80px !important; }

.flush {
  margin: 0 !important; }

.flush-bottom {
  margin-bottom: 0 !important; }

.flush-left {
  margin-left: 0 !important; }

.flush-right {
  margin-right: 0 !important; }

.flush-top {
  margin-top: 0 !important; }

.flush-ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.flush-sides {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.soft {
  padding: 20px !important; }

.soft-bottom {
  padding-bottom: 20px !important; }

.soft-left {
  padding-left: 20px !important; }

.soft-right {
  padding-right: 20px !important; }

.soft-top {
  padding-top: 20px !important; }

.soft-ends {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.soft-sides {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.soft-half {
  padding: 10px !important; }

.soft-half-bottom {
  padding-bottom: 10px !important; }

.soft-half-left {
  padding-left: 10px !important; }

.soft-half-right {
  padding-right: 10px !important; }

.soft-half-top {
  padding-top: 10px !important; }

.soft-half-ends {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.soft-half-sides {
  padding-left: 10px !important;
  padding-right: 10px !important; }

.soft-double {
  padding: 40px !important; }

.soft-double-bottom {
  padding-bottom: 40px !important; }

.soft-double-left {
  padding-left: 40px !important; }

.soft-double-right {
  padding-right: 40px !important; }

.soft-double-top {
  padding-top: 40px !important; }

.soft-double-ends {
  padding-top: 40px !important;
  padding-bottom: 40px !important; }

.soft-double-sides {
  padding-left: 40px !important;
  padding-right: 40px !important; }

.soft-triple {
  padding: 60px !important; }

.soft-triple-bottom {
  padding-bottom: 60px !important; }

.soft-triple-left {
  padding-left: 60px !important; }

.soft-triple-right {
  padding-right: 60px !important; }

.soft-triple-top {
  padding-top: 60px !important; }

.soft-triple-ends {
  padding-top: 60px !important;
  padding-bottom: 60px !important; }

.soft-triple-sides {
  padding-left: 60px !important;
  padding-right: 60px !important; }

.soft-quad {
  padding: 80px !important; }

.soft-quad-bottom {
  padding-bottom: 80px !important; }

.soft-quad-left {
  padding-left: 80px !important; }

.soft-quad-right {
  padding-right: 80px !important; }

.soft-quad-top {
  padding-top: 80px !important; }

.soft-quad-ends {
  padding-top: 80px !important;
  padding-bottom: 80px !important; }

.soft-quad-sides {
  padding-left: 80px !important;
  padding-right: 80px !important; }

.hard {
  padding: 0 !important; }

.hard-bottom {
  padding-bottom: 0 !important; }

.hard-left {
  padding-left: 0 !important; }

.hard-right {
  padding-right: 0 !important; }

.hard-top {
  padding-top: 0 !important; }

.hard-ends {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.hard-sides {
  padding-left: 0 !important;
  padding-right: 0 !important; }

@media only screen and (min-width: 500px) {
  .push\@sm {
    margin: 20px !important; }
  .push-bottom\@sm {
    margin-bottom: 20px !important; }
  .push-left\@sm {
    margin-left: 20px !important; }
  .push-right\@sm {
    margin-right: 20px !important; }
  .push-top\@sm {
    margin-top: 20px !important; }
  .push-ends\@sm {
    margin-top: 20px !important;
    margin-bottom: 20px !important; }
  .push-sides\@sm {
    margin-left: 20px !important;
    margin-right: 20px !important; }
  .push-half\@sm {
    margin: 10px !important; }
  .push-half-bottom\@sm {
    margin-bottom: 10px !important; }
  .push-half-left\@sm {
    margin-left: 10px !important; }
  .push-half-right\@sm {
    margin-right: 10px !important; }
  .push-half-top\@sm {
    margin-top: 10px !important; }
  .push-half-ends\@sm {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  .push-half-sides\@sm {
    margin-left: 10px !important;
    margin-right: 10px !important; }
  .push-double\@sm {
    margin: 40px !important; }
  .push-double-bottom\@sm {
    margin-bottom: 40px !important; }
  .push-double-left\@sm {
    margin-left: 40px !important; }
  .push-double-right\@sm {
    margin-right: 40px !important; }
  .push-double-top\@sm {
    margin-top: 40px !important; }
  .push-double-ends\@sm {
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  .push-double-sides\@sm {
    margin-left: 40px !important;
    margin-right: 40px !important; }
  .push-triple\@sm {
    margin: 60px !important; }
  .push-triple-bottom\@sm {
    margin-bottom: 60px !important; }
  .push-triple-left\@sm {
    margin-left: 60px !important; }
  .push-triple-right\@sm {
    margin-right: 60px !important; }
  .push-triple-top\@sm {
    margin-top: 60px !important; }
  .push-triple-ends\@sm {
    margin-top: 60px !important;
    margin-bottom: 60px !important; }
  .push-triple-sides\@sm {
    margin-left: 60px !important;
    margin-right: 60px !important; }
  .push-quad\@sm {
    margin: 80px !important; }
  .push-quad-bottom\@sm {
    margin-bottom: 80px !important; }
  .push-quad-left\@sm {
    margin-left: 80px !important; }
  .push-quad-right\@sm {
    margin-right: 80px !important; }
  .push-quad-top\@sm {
    margin-top: 80px !important; }
  .push-quad-ends\@sm {
    margin-top: 80px !important;
    margin-bottom: 80px !important; }
  .push-quad-sides\@sm {
    margin-left: 80px !important;
    margin-right: 80px !important; }
  .flush\@sm {
    margin: 0 !important; }
  .flush-bottom\@sm {
    margin-bottom: 0 !important; }
  .flush-left\@sm {
    margin-left: 0 !important; }
  .flush-right\@sm {
    margin-right: 0 !important; }
  .flush-top\@sm {
    margin-top: 0 !important; }
  .flush-ends\@sm {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .flush-sides\@sm {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .soft\@sm {
    padding: 20px !important; }
  .soft-bottom\@sm {
    padding-bottom: 20px !important; }
  .soft-left\@sm {
    padding-left: 20px !important; }
  .soft-right\@sm {
    padding-right: 20px !important; }
  .soft-top\@sm {
    padding-top: 20px !important; }
  .soft-ends\@sm {
    padding-top: 20px !important;
    padding-bottom: 20px !important; }
  .soft-sides\@sm {
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .soft-half\@sm {
    padding: 10px !important; }
  .soft-half-bottom\@sm {
    padding-bottom: 10px !important; }
  .soft-half-left\@sm {
    padding-left: 10px !important; }
  .soft-half-right\@sm {
    padding-right: 10px !important; }
  .soft-half-top\@sm {
    padding-top: 10px !important; }
  .soft-half-ends\@sm {
    padding-top: 10px !important;
    padding-bottom: 10px !important; }
  .soft-half-sides\@sm {
    padding-left: 10px !important;
    padding-right: 10px !important; }
  .soft-double\@sm {
    padding: 40px !important; }
  .soft-double-bottom\@sm {
    padding-bottom: 40px !important; }
  .soft-double-left\@sm {
    padding-left: 40px !important; }
  .soft-double-right\@sm {
    padding-right: 40px !important; }
  .soft-double-top\@sm {
    padding-top: 40px !important; }
  .soft-double-ends\@sm {
    padding-top: 40px !important;
    padding-bottom: 40px !important; }
  .soft-double-sides\@sm {
    padding-left: 40px !important;
    padding-right: 40px !important; }
  .soft-triple\@sm {
    padding: 60px !important; }
  .soft-triple-bottom\@sm {
    padding-bottom: 60px !important; }
  .soft-triple-left\@sm {
    padding-left: 60px !important; }
  .soft-triple-right\@sm {
    padding-right: 60px !important; }
  .soft-triple-top\@sm {
    padding-top: 60px !important; }
  .soft-triple-ends\@sm {
    padding-top: 60px !important;
    padding-bottom: 60px !important; }
  .soft-triple-sides\@sm {
    padding-left: 60px !important;
    padding-right: 60px !important; }
  .soft-quad\@sm {
    padding: 80px !important; }
  .soft-quad-bottom\@sm {
    padding-bottom: 80px !important; }
  .soft-quad-left\@sm {
    padding-left: 80px !important; }
  .soft-quad-right\@sm {
    padding-right: 80px !important; }
  .soft-quad-top\@sm {
    padding-top: 80px !important; }
  .soft-quad-ends\@sm {
    padding-top: 80px !important;
    padding-bottom: 80px !important; }
  .soft-quad-sides\@sm {
    padding-left: 80px !important;
    padding-right: 80px !important; }
  .hard\@sm {
    padding: 0 !important; }
  .hard-bottom\@sm {
    padding-bottom: 0 !important; }
  .hard-left\@sm {
    padding-left: 0 !important; }
  .hard-right\@sm {
    padding-right: 0 !important; }
  .hard-top\@sm {
    padding-top: 0 !important; }
  .hard-ends\@sm {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .hard-sides\@sm {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media only screen and (min-width: 800px) {
  .push\@md {
    margin: 20px !important; }
  .push-bottom\@md {
    margin-bottom: 20px !important; }
  .push-left\@md {
    margin-left: 20px !important; }
  .push-right\@md {
    margin-right: 20px !important; }
  .push-top\@md {
    margin-top: 20px !important; }
  .push-ends\@md {
    margin-top: 20px !important;
    margin-bottom: 20px !important; }
  .push-sides\@md {
    margin-left: 20px !important;
    margin-right: 20px !important; }
  .push-half\@md {
    margin: 10px !important; }
  .push-half-bottom\@md {
    margin-bottom: 10px !important; }
  .push-half-left\@md {
    margin-left: 10px !important; }
  .push-half-right\@md {
    margin-right: 10px !important; }
  .push-half-top\@md {
    margin-top: 10px !important; }
  .push-half-ends\@md {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  .push-half-sides\@md {
    margin-left: 10px !important;
    margin-right: 10px !important; }
  .push-double\@md {
    margin: 40px !important; }
  .push-double-bottom\@md {
    margin-bottom: 40px !important; }
  .push-double-left\@md {
    margin-left: 40px !important; }
  .push-double-right\@md {
    margin-right: 40px !important; }
  .push-double-top\@md {
    margin-top: 40px !important; }
  .push-double-ends\@md {
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  .push-double-sides\@md {
    margin-left: 40px !important;
    margin-right: 40px !important; }
  .push-triple\@md {
    margin: 60px !important; }
  .push-triple-bottom\@md {
    margin-bottom: 60px !important; }
  .push-triple-left\@md {
    margin-left: 60px !important; }
  .push-triple-right\@md {
    margin-right: 60px !important; }
  .push-triple-top\@md {
    margin-top: 60px !important; }
  .push-triple-ends\@md {
    margin-top: 60px !important;
    margin-bottom: 60px !important; }
  .push-triple-sides\@md {
    margin-left: 60px !important;
    margin-right: 60px !important; }
  .push-quad\@md {
    margin: 80px !important; }
  .push-quad-bottom\@md {
    margin-bottom: 80px !important; }
  .push-quad-left\@md {
    margin-left: 80px !important; }
  .push-quad-right\@md {
    margin-right: 80px !important; }
  .push-quad-top\@md {
    margin-top: 80px !important; }
  .push-quad-ends\@md {
    margin-top: 80px !important;
    margin-bottom: 80px !important; }
  .push-quad-sides\@md {
    margin-left: 80px !important;
    margin-right: 80px !important; }
  .flush\@md {
    margin: 0 !important; }
  .flush-bottom\@md {
    margin-bottom: 0 !important; }
  .flush-left\@md {
    margin-left: 0 !important; }
  .flush-right\@md {
    margin-right: 0 !important; }
  .flush-top\@md {
    margin-top: 0 !important; }
  .flush-ends\@md {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .flush-sides\@md {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .soft\@md {
    padding: 20px !important; }
  .soft-bottom\@md {
    padding-bottom: 20px !important; }
  .soft-left\@md {
    padding-left: 20px !important; }
  .soft-right\@md {
    padding-right: 20px !important; }
  .soft-top\@md {
    padding-top: 20px !important; }
  .soft-ends\@md {
    padding-top: 20px !important;
    padding-bottom: 20px !important; }
  .soft-sides\@md {
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .soft-half\@md {
    padding: 10px !important; }
  .soft-half-bottom\@md {
    padding-bottom: 10px !important; }
  .soft-half-left\@md {
    padding-left: 10px !important; }
  .soft-half-right\@md {
    padding-right: 10px !important; }
  .soft-half-top\@md {
    padding-top: 10px !important; }
  .soft-half-ends\@md {
    padding-top: 10px !important;
    padding-bottom: 10px !important; }
  .soft-half-sides\@md {
    padding-left: 10px !important;
    padding-right: 10px !important; }
  .soft-double\@md {
    padding: 40px !important; }
  .soft-double-bottom\@md {
    padding-bottom: 40px !important; }
  .soft-double-left\@md {
    padding-left: 40px !important; }
  .soft-double-right\@md {
    padding-right: 40px !important; }
  .soft-double-top\@md {
    padding-top: 40px !important; }
  .soft-double-ends\@md {
    padding-top: 40px !important;
    padding-bottom: 40px !important; }
  .soft-double-sides\@md {
    padding-left: 40px !important;
    padding-right: 40px !important; }
  .soft-triple\@md {
    padding: 60px !important; }
  .soft-triple-bottom\@md {
    padding-bottom: 60px !important; }
  .soft-triple-left\@md {
    padding-left: 60px !important; }
  .soft-triple-right\@md {
    padding-right: 60px !important; }
  .soft-triple-top\@md {
    padding-top: 60px !important; }
  .soft-triple-ends\@md {
    padding-top: 60px !important;
    padding-bottom: 60px !important; }
  .soft-triple-sides\@md {
    padding-left: 60px !important;
    padding-right: 60px !important; }
  .soft-quad\@md {
    padding: 80px !important; }
  .soft-quad-bottom\@md {
    padding-bottom: 80px !important; }
  .soft-quad-left\@md {
    padding-left: 80px !important; }
  .soft-quad-right\@md {
    padding-right: 80px !important; }
  .soft-quad-top\@md {
    padding-top: 80px !important; }
  .soft-quad-ends\@md {
    padding-top: 80px !important;
    padding-bottom: 80px !important; }
  .soft-quad-sides\@md {
    padding-left: 80px !important;
    padding-right: 80px !important; }
  .hard\@md {
    padding: 0 !important; }
  .hard-bottom\@md {
    padding-bottom: 0 !important; }
  .hard-left\@md {
    padding-left: 0 !important; }
  .hard-right\@md {
    padding-right: 0 !important; }
  .hard-top\@md {
    padding-top: 0 !important; }
  .hard-ends\@md {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .hard-sides\@md {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media only screen and (min-width: 1050px) {
  .push\@lg {
    margin: 20px !important; }
  .push-bottom\@lg {
    margin-bottom: 20px !important; }
  .push-left\@lg {
    margin-left: 20px !important; }
  .push-right\@lg {
    margin-right: 20px !important; }
  .push-top\@lg {
    margin-top: 20px !important; }
  .push-ends\@lg {
    margin-top: 20px !important;
    margin-bottom: 20px !important; }
  .push-sides\@lg {
    margin-left: 20px !important;
    margin-right: 20px !important; }
  .push-half\@lg {
    margin: 10px !important; }
  .push-half-bottom\@lg {
    margin-bottom: 10px !important; }
  .push-half-left\@lg {
    margin-left: 10px !important; }
  .push-half-right\@lg {
    margin-right: 10px !important; }
  .push-half-top\@lg {
    margin-top: 10px !important; }
  .push-half-ends\@lg {
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
  .push-half-sides\@lg {
    margin-left: 10px !important;
    margin-right: 10px !important; }
  .push-double\@lg {
    margin: 40px !important; }
  .push-double-bottom\@lg {
    margin-bottom: 40px !important; }
  .push-double-left\@lg {
    margin-left: 40px !important; }
  .push-double-right\@lg {
    margin-right: 40px !important; }
  .push-double-top\@lg {
    margin-top: 40px !important; }
  .push-double-ends\@lg {
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  .push-double-sides\@lg {
    margin-left: 40px !important;
    margin-right: 40px !important; }
  .push-triple\@lg {
    margin: 60px !important; }
  .push-triple-bottom\@lg {
    margin-bottom: 60px !important; }
  .push-triple-left\@lg {
    margin-left: 60px !important; }
  .push-triple-right\@lg {
    margin-right: 60px !important; }
  .push-triple-top\@lg {
    margin-top: 60px !important; }
  .push-triple-ends\@lg {
    margin-top: 60px !important;
    margin-bottom: 60px !important; }
  .push-triple-sides\@lg {
    margin-left: 60px !important;
    margin-right: 60px !important; }
  .push-quad\@lg {
    margin: 80px !important; }
  .push-quad-bottom\@lg {
    margin-bottom: 80px !important; }
  .push-quad-left\@lg {
    margin-left: 80px !important; }
  .push-quad-right\@lg {
    margin-right: 80px !important; }
  .push-quad-top\@lg {
    margin-top: 80px !important; }
  .push-quad-ends\@lg {
    margin-top: 80px !important;
    margin-bottom: 80px !important; }
  .push-quad-sides\@lg {
    margin-left: 80px !important;
    margin-right: 80px !important; }
  .flush\@lg {
    margin: 0 !important; }
  .flush-bottom\@lg {
    margin-bottom: 0 !important; }
  .flush-left\@lg {
    margin-left: 0 !important; }
  .flush-right\@lg {
    margin-right: 0 !important; }
  .flush-top\@lg {
    margin-top: 0 !important; }
  .flush-ends\@lg {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .flush-sides\@lg {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .soft\@lg {
    padding: 20px !important; }
  .soft-bottom\@lg {
    padding-bottom: 20px !important; }
  .soft-left\@lg {
    padding-left: 20px !important; }
  .soft-right\@lg {
    padding-right: 20px !important; }
  .soft-top\@lg {
    padding-top: 20px !important; }
  .soft-ends\@lg {
    padding-top: 20px !important;
    padding-bottom: 20px !important; }
  .soft-sides\@lg {
    padding-left: 20px !important;
    padding-right: 20px !important; }
  .soft-half\@lg {
    padding: 10px !important; }
  .soft-half-bottom\@lg {
    padding-bottom: 10px !important; }
  .soft-half-left\@lg {
    padding-left: 10px !important; }
  .soft-half-right\@lg {
    padding-right: 10px !important; }
  .soft-half-top\@lg {
    padding-top: 10px !important; }
  .soft-half-ends\@lg {
    padding-top: 10px !important;
    padding-bottom: 10px !important; }
  .soft-half-sides\@lg {
    padding-left: 10px !important;
    padding-right: 10px !important; }
  .soft-double\@lg {
    padding: 40px !important; }
  .soft-double-bottom\@lg {
    padding-bottom: 40px !important; }
  .soft-double-left\@lg {
    padding-left: 40px !important; }
  .soft-double-right\@lg {
    padding-right: 40px !important; }
  .soft-double-top\@lg {
    padding-top: 40px !important; }
  .soft-double-ends\@lg {
    padding-top: 40px !important;
    padding-bottom: 40px !important; }
  .soft-double-sides\@lg {
    padding-left: 40px !important;
    padding-right: 40px !important; }
  .soft-triple\@lg {
    padding: 60px !important; }
  .soft-triple-bottom\@lg {
    padding-bottom: 60px !important; }
  .soft-triple-left\@lg {
    padding-left: 60px !important; }
  .soft-triple-right\@lg {
    padding-right: 60px !important; }
  .soft-triple-top\@lg {
    padding-top: 60px !important; }
  .soft-triple-ends\@lg {
    padding-top: 60px !important;
    padding-bottom: 60px !important; }
  .soft-triple-sides\@lg {
    padding-left: 60px !important;
    padding-right: 60px !important; }
  .soft-quad\@lg {
    padding: 80px !important; }
  .soft-quad-bottom\@lg {
    padding-bottom: 80px !important; }
  .soft-quad-left\@lg {
    padding-left: 80px !important; }
  .soft-quad-right\@lg {
    padding-right: 80px !important; }
  .soft-quad-top\@lg {
    padding-top: 80px !important; }
  .soft-quad-ends\@lg {
    padding-top: 80px !important;
    padding-bottom: 80px !important; }
  .soft-quad-sides\@lg {
    padding-left: 80px !important;
    padding-right: 80px !important; }
  .hard\@lg {
    padding: 0 !important; }
  .hard-bottom\@lg {
    padding-bottom: 0 !important; }
  .hard-left\@lg {
    padding-left: 0 !important; }
  .hard-right\@lg {
    padding-right: 0 !important; }
  .hard-top\@lg {
    padding-top: 0 !important; }
  .hard-ends\@lg {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .hard-sides\@lg {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

/**
 * Word breaking
 *
 * Break strings when their length exceeds the width of their container.
 */
.text-break {
  word-wrap: break-word !important; }

/**
 * Horizontal text alignment
 */
.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

/**
 * Inherit the ancestor's text color.
 */
.text-inherit-color {
  color: inherit !important; }

/**
 * Enables font kerning in all browsers.
 * http://blog.typekit.com/2014/02/05/kerning-on-the-web/
 *
 * 1. Chrome (not Windows), Firefox, Safari 6+, iOS, Android
 * 2. Chrome (not Windows), Firefox, IE 10+
 * 3. Safari 7 and future browsers
 */
.text-kern {
  text-rendering: optimizeLegibility;
  /* 1 */
  font-feature-settings: "kern" 1;
  /* 2 */
  font-kerning: normal;
  /* 3 */ }

/**
 * Prevent whitespace wrapping
 */
.text-no-wrap {
  white-space: nowrap !important; }

/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */
.text-truncate {
  max-width: 100%;
  /* 1 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  /* 2 */ }

/**
 * Typography
 */
.font-xs {
  font-size: 1.5rem;
  line-height: 30px; }

.font-sm {
  font-size: 2rem;
  line-height: 40px; }

.font-md {
  font-size: 3rem;
  line-height: 40px; }

.font-lg {
  font-size: 4rem;
  line-height: 60px; }

.font-xl {
  font-size: 5rem;
  line-height: 60px; }

p {
  margin-bottom: 20px; }

@media only screen and (max-width: 499px) {
  .font-xs\@xs {
    font-size: 1rem;
    line-height: 20px; }
  .font-sm\@xs {
    font-size: 2rem;
    line-height: 40px; }
  .font-md\@xs {
    font-size: 3rem;
    line-height: 40px; }
  .font-lg\@xs {
    font-size: 4rem;
    line-height: 60px; } }

@media only screen and (min-width: 500px) {
  .font-xs\@sm {
    font-size: 1rem;
    line-height: 20px; }
  .font-sm\@sm {
    font-size: 2rem;
    line-height: 40px; }
  .font-md\@sm {
    font-size: 3rem;
    line-height: 40px; }
  .font-lg\@sm {
    font-size: 4rem;
    line-height: 60px; } }

@media only screen and (min-width: 800px) {
  .font-xs\@md {
    font-size: 1rem;
    line-height: 20px; }
  .font-sm\@md {
    font-size: 2rem;
    line-height: 40px; }
  .font-md\@md {
    font-size: 3rem;
    line-height: 40px; }
  .font-lg\@md {
    font-size: 4rem;
    line-height: 60px; } }

@media only screen and (min-width: 1050px) {
  .font-xs\@lg {
    font-size: 1rem;
    line-height: 20px; }
  .font-sm\@lg {
    font-size: 2rem;
    line-height: 40px; }
  .font-md\@lg {
    font-size: 3rem;
    line-height: 40px; }
  .font-lg\@lg {
    font-size: 4rem;
    line-height: 60px; } }
