:root {
  font-size: 20px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-size: .75rem;
    line-height: 1.33333333333;
    font-family: 'Roboto', sans-serif;
    color: #24292e;
    margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  position: relative;
}

.player {
}

.name-pos {
  display: flex;
  align-items: center;
}

.pos:before {
  content: "–";
  margin-left: .25rem;
  margin-right: .25rem;
}

.team,
.bye,
.pos {
  font-size: 12px;
  color: #586069;
}

.team,
.bye {
  display: inline;
}

.team:after {
  content: "•";
  margin-left: .5rem;
  margin-right: .5rem;
}

td,
th {
  border-bottom: 1px solid #e1e4e8;
  padding: .25rem;
  text-align: left;
}

.is-hidden {
  visibility: hidden;
}

.draft-status {
  text-align: center;
}

.dataTables_filter {
  padding: .5rem;
  border-bottom: 1px solid #e1e4e8;
}

.dataTables_filter label,
.dataTables_filter input {
  width: 100%;
}

input[type="search"] {
  -webkit-appearance: none;
  font: inherit;
  border: 1px solid #e1e4e8;
  border-radius: .25rem;
  padding: .25rem;
}

.player-taken td:not(:first-child) {
  opacity: .5;
}

input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.draft-status,
.avg {
  position: relative;
}

input[type="checkbox"] + label::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    user-select: none;
    background-color: #fff;
    border: 2px solid #dee2e6;
    border-radius: .25rem;
    transform: translateX(-50%) translateY(-50%);
}

input[type="checkbox"] + label::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transform: translateX(-50%) translateY(-50%);
}

input[type="checkbox"]:checked + label::before {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

input[type="checkbox"]:checked + label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.dataTables_filter,
th {
  background: #f6f8fa;
}

.dataTables_filter {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.rk-ccppr,
.rk-espnppr,
.rk-espnsd,
.rk-fphalf,
th:nth-child(3),
th:nth-child(4),
th:nth-child(5),
th:nth-child(6) {
  display: none;
}

.rk-circle {
  border-radius: 50%;
  color: #28a745;
  border: 1px solid #28a745;
  height: 1.75rem;
  width: 1.75rem;
  display: inline-flex;
  align-items: center;
}

.ranking {
  margin-left: auto;
    margin-right: auto;
}
